{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	    <!-- Basic Page Needs
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>
			{% block title %}
				MyMensorApp Project
			{% endblock %}
		</title>
	    <meta name="MyMensorApp Project" content="">
	    <meta name="Jorge Goncalves" content="">

	    <!-- Mobile Specific Metas
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">	

	    <!-- FONT
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	    <!-- CSS
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
		<link rel="stylesheet" href="{% static 'css/menuflexbox.css' %}">
				
	    <!-- Favicon
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
		{% block header %}{% endblock %}
	</head>
	<body>
		<header>
			<nav role="navigation" id="nav">
              <input class="trigger" type="checkbox" id="mainNavButton">
              <label for="mainNavButton" onclick>Menu</label>
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a>
                    <ul>
                      <li><a href="{% url 'contact' %}">Sub Nav Item</a></li>
                      <li><a href="{% url 'contact' %}">Sub Nav Item</a>
                        <ul>
                          <li><a href="{% url 'contact' %}">Sub Sub Nav Item</a></li>
                          <li><a href="{% url 'contact' %}">Sub Sub Nav Item</a></li>
                          <li><a href="{% url 'contact' %}">Sub Sub Nav Item</a></li>
                          <li><a href="{% url 'contact' %}">Sub Sub Nav Item</a></li>
                        </ul>
                      </li>
                      <li><a href="{% url 'about' %}">Sub Nav Item</a></li>
                      <li><a href="{% url 'about' %}">Sub Nav Item</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'about' %}">Products</a></li>
                <li><a href="{% url 'about' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">Specials</a></li>
                <li><a href="{% url 'about' %}">Contact Us</a></li>
              </ul>
              </ul> 
            </nav>

			<!--
			<div class="menu_simple">
		            		 <ul>
		                		 <li><a href="{% url 'home' %}">Home </a></li>
		                		 <li><a href="{% url 'about' %}">About</a></li>
		                		 <li><a href="{% url 'contact' %}">Contact</a></li>
		            		 </ul>
							 <br />
					 </div> -->
		</header>		
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
</html>