{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	    <!-- Basic Page Needs
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>
			{% block title %}
				MyMensorApp Project
			{% endblock %}
		</title>
	    <meta name="MyMensorApp Project" content="">
	    <meta name="Jorge Goncalves" content="">

	    <!-- Mobile Specific Metas
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">	

	    <!-- FONT
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	    <!-- CSS
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">

	    <!-- Favicon
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
		{% block header %}{% endblock %}
	</head>
	<body>
		<header>
		        <h1>Hello Web App</h1>
		        <nav>
		            <ul>
		                <li>
		                    <a href="{% url 'home' %}">Home</a>
		                </li>
		                <li>
		                    <a href="{% url 'about' %}">About</a>
		                </li>
		                <li>
		                    <a href="{% url 'contact' %}">Contact</a>
		                </li>
		            </ul>
		        </nav>
		    </header>		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
</html>