dj-database-url==0.4.1
Django==1.10.1
django-registration-redux==1.4
django-smart-selects==1.2.2
isodate==0.5.4
oauthlib>=1.0.3
psycopg2==2.6.2
python-dateutil==2.5.3
python-openid==2.2.5
six==1.10.0
sqlparse>=0.2.0
waitress>=0.9.0
whitenoise==3.2.1
