#CookielawBanner {
    background-color: rgba(25, 25, 25, 0.9);
	color: #efefef;
	padding: 5px 20px;
	font-size: 12px;
	line-height: 1.2em;
	text-align: center;
	display: none;
	z-index: 9999999;
}

#CookielawBanner .container {
    position: fixed;
    bottom: 0; left: 0; right: 0;
}

#CookielawBanner #CookielawCross {
    background: url('../images/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}
