/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

@media (min-width: 1440px) {
  .modal-lg {
    max-width: 1300px;
  }
}

#streambox {
	position:fixed;
	top:1em;
	right:1em;
    z-index: 1080;
}

.vpnotprocessed {
    color: gray;
    float: right;
}

.vpalarmed {
    color: red;
    float: right;
}

.vpok {
    color: green;
    float: right;
}

.loccert {
    color: green;
    float:right;
    margin-left: 1rem;
    margin-right: 1rem;
}

.locnotcert {
    color: red;
    float:right;
    margin-left: 1rem;
    margin-right: 1rem;
}

.timecert {
    color: green;
    float:right;
    margin-left: 1rem;
    margin-right: 1rem;
}

.timenotcert {
    color: red;
    float:right;
    margin-left: 1rem;
    margin-right: 1rem;
}

.arused {
    color: green;
    float:right;
    margin-left: 1rem;
    margin-right: 1rem;
}

.arnotused {
    color: blue;
    float:right;
    margin-left: 1rem;
    margin-right: 1rem;
}
