/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

@media (min-width: 1440px) {
  .modal-lg {
    max-width: 1300px;
  }
}

#streambox {
	position:fixed;
	top:1em;
	right:1em;
    z-index: 1080;
}

.vpnotprocessed {
    color: gray;
}

.vpalarmed {
    color: gray;
}

.vpok {
    color: gray;
}
