/* Show it is fixed to the top */
/*
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
*/
@media (min-width: 1440px) {
  .modal-xl {
    max-width: 1300px;
  }
}

#streambox {
	position:fixed;
	top:1em;
	right:1em;
    z-index: 1080;
    line-height: inherit;
}

.vpnotprocessed {
    color: gray;
    float: right;
    line-height: inherit;
}

.vpprocessed {
    color: blue;
    float: right;
    line-height: inherit;
}

.vpalarmed {
    color: red;
    float: right;
    line-height: inherit;
}

.vpok {
    color: green;
    float: right;
    line-height: inherit;
}

.loccert {
    color: green;
    float:right;
    margin-left: 1rem;
    line-height: inherit;
}

.locnotcert {
    color: red;
    float:right;
    margin-left: 1rem;
    line-height: inherit;
}

.timecert {
    color: green;
    float:right;
    margin-left: 1rem;
    line-height: inherit;
}

.timenotcert {
    color: red;
    float:right;
    margin-left: 1rem;
    line-height: inherit;
}

.arused {
    color: green;
    float:right;
    margin-left: 1rem;
    line-height: inherit;
}

.arnotused {
    color: blue;
    float:right;
    margin-left: 1rem;
    line-height: inherit;
}

.card-header {
    padding: 0.5rem 1.25rem;
}

.card-block {
    padding: 0.5rem 1.25rem;
}

.card-footer {
    padding: 0.5rem 1.25rem;
}

h5 {
    margin-bottom: 0;
}