body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#left-selector {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#tabs {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 240px;
}
