{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}

    <!-- Google Code for MyMensor Registration Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 840928180;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "zQ8CCLPCu3UQtJf-kAM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/840928180/?label=zQ8CCLPCu3UQtJf-kAM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

    <div class="container">
        <div class="my-xl-5 py-xl-5">
            <p></p>
            <p>
                {% trans "Your account is now activated." %}
                {% if not user.is_authenticated %}
                    {% trans "You can log in." %}
                {% endif %}
            </p>
        </div>
    </div>

{% endblock %}