{% extends 'layouts/../base.html' %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <p>{% trans "Enter your new password below to reset your password:" %}</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Set password' %}" />
        </form>
    {% else %}
        <h1>{% trans "Password reset unsuccessful"%}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}

{# This is used by django.contrib.auth #}
