{% extends 'base.html' %}
{% load i18n mymfilters %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <p></p>
        </div>
        <div class="col-sm">
            <div id="passwordresetform">
                <p></p>
                <h2>{% trans "Password Reset" %}</h2>

                {% if validlink %}
                    <p></p>
                    <p>{% trans "Enter your new password below to reset your password:" %}</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-success" type="submit" value="{% trans 'Set password' %}">
                    </form>
                {% else %}
                    <h1>{% trans "Password reset unsuccessful" %}</h1>
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm">
            <p></p>
        </div>
    </div>
{% endblock %}






{# This is used by django.contrib.auth #}
