{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <p></p>
        </div>
        <div class="col-sm">
            <p></p>
            <p>
                {% trans "Your password has been reset!" %}
                {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
            </p>
        </div>
        <div class="col-sm">
            <p></p>
        </div>
    </div>
{% endblock %}

{# This is used by django.contrib.auth #}
