{% extends 'base.html' %}
{% load i18n mymfilters %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <p></p>
        </div>
        <div class="col-sm">
            <div id="signinform">
                <p></p>
                <h2>{% trans "Create your MyMensor Account." %}</h2>
                <form role="form" action="." method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="required" for="id_username">Username</label>
                        <input autofocus="" id="id_username" maxlength="150" type="text" class="form-control" aria-describedby="usernameHelp"
                               placeholder="Enter username">
                        <small id="usernamelHelp" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
                    </div>
                    <div class="form-group">
                        <label class="required" for="id_email">Your Email Address</label>
                        <input id="id_email" type="email" class="form-control" placeholder="Password">
                    </div>



                    <p class="required"><label class="required" for="id_password1">Password:</label> <input
                            id="id_password1" name="password1" type="password" required/></p>
                    <p class="required"><label class="required" for="id_password2">Password confirmation:</label> <input
                            id="id_password2" name="password2" type="password" required/> <span class="helptext">Enter the same password as before, for verification.</span>
                    </p>
                    <input class="btn btn-success btn-block" type="submit"
                           value="{% trans 'Agree and Create Account' %}">
                </form>
            </div>
            <p></p>
            <p>{% trans "Already have an Account?" %} <a href="{% url 'auth_login' %}">{% trans "Log In." %}</a>.</p>
        </div>
        <div class="col-sm">

        </div>
    </div>
{% endblock %}












{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
