{% load staticfiles is_active i18n tz counter assign %}
{% localtime on %}
    {% get_current_timezone as TIME_ZONE %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Basic Page Needs.
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
                MyMensor
            {% endblock %}
        </title>
        <meta name="MyMensor WebApp" content="">
        <meta name="SeaMate" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-eu-cookie-law-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/chosen.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
        <link rel="stylesheet" href="{% static 'css/social-share-kit.css' %}">
        <link rel="stylesheet" href="{% static 'django_tables2/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/mymensorstyle.css' %}">
        <!-- Favicon
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'images/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#00afef">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta name="msapplication-config" content="images/browserconfig.xml">
        <meta name="theme-color" content="#00afef">
        {% block header %}{% endblock %}
    </head>
    {% load tz_detect %}
    {% tz_detect %}

    <body>
    <nav class="navbar fixed-top navbar-toggleable navbar-light" style="background-color: #e3f2fd;" id="myNavbar">
        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="{% url 'portfolio' %}"><img
                src="{% static 'images/Logo_MyMensor_NEW3.svg' %}"
                width="46" height="46" alt=""></a>
        <div id="navbarNavDropdown" class="collapse navbar-collapse">

            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link {% is_active request 'portfolio' %}"
                                            href="{% url 'portfolio' %}">{% trans "Portfolio" %}</a></li>
                    <li class="nav-item"><a class="nav-link {% is_active request 'vpdetail' %}"
                                            href="{% url 'vpdetail' %}">{% trans "Media" %}</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% trans "Data" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'tagstatus' %}">{% trans "Status" %}</a>
                            <a class="dropdown-item" href="{% url 'taganalysis' %}">{% trans "Analysis" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'tagprocessing' %}">{% trans "Processing" %}</a>
                            <a class="dropdown-item" href="{% url 'proctagedit' %}">{% trans "Edit" %}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% trans "Setup" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'assetsetup' %}">{% trans "Asset" %}</a>
                            <a class="dropdown-item" href="{% url 'vpsetup' %}">{% trans "VPs" %}</a>
                            <a class="dropdown-item" href="{% url 'tagsetup' %}">{% trans "TAGs" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'mobilebackup' %}">{% trans "Mobile Backup" %}</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link {% is_active request 'auth_login' %}"
                                            href="{% url 'auth_login' %}">{% trans 'Login' %}</a></li>
                    <li class="nav-item"><a class="nav-link {% is_active request 'registration_register' %}"
                                            id="regnewuser" href="{% url 'registration_register' %}"><strong
                            style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">{% trans 'Register' %}</strong></a>
                    </li>
                </ul>
            {% endif %}

            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <strong style="color: #28669F;">{% trans "Logged in as: " %}{{ user.get_username }}</strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'auth_logout' %}">{% trans 'Logout' %}</a>
                            <a class="dropdown-item"
                               href="{% url 'auth_password_change' %}">{% trans 'Password change' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'fbmain' %}">{% trans 'Facebook Account' %}</a>
                            <a class="dropdown-item" href="{% url 'twtmain' %}">{% trans 'Twitter Account' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'support' %}">{% trans 'Support' %}</a>
                        </div>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% get_current_language as LANGUAGE_CODE %}
    <div class="block-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-5">
                    <ul class="list-unstyled list-spaced">
                        <li class="mb-2"><h6 class="text-uppercase">{% trans 'About' %}</h6></li>
                        <li class="text-muted">
                            {% trans "The journey was long, but we are just starting! Contact us anytime at " %}<a
                                href="mailto: contact@mymensor.com">contact@mymensor.com</a>.
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 offset-md-1 mb-5">
                    <ul class="list-unstyled list-spaced">
                        <li class="mb-2"><h6 class="text-uppercase">{% trans "Product" %}</h6></li>
                        <li><a class="text-muted"
                               href="https://mymensor.com/{{ LANGUAGE_CODE }}/docs/">{% trans "Docs" %}</a></li>
                        <li><a class="text-muted"
                               href="https://mymensor.com/{{ LANGUAGE_CODE }}/videos/">{% trans "Videos" %}</a>
                        </li>
                        <li><a class="text-muted"
                               href="https://mymensor.com/{{ LANGUAGE_CODE }}/faq/">{% trans "FAQ" %}</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <ul class="list-unstyled list-spaced">
                        <li class="mb-2"><h6 class="text-uppercase">Legal</h6></li>
                        <li><a class="text-muted"
                               href="https://mymensor.com/{{ LANGUAGE_CODE }}/terms/">{% trans "Terms of Service" %}</a>
                        </li>
                        <li><a class="text-muted"
                               href="https://mymensor.com/{{ LANGUAGE_CODE }}/privacy/">{% trans "Privacy" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-5">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <ul class="list-unstyled list-spaced">
                        <li class="mb-2"><h6 class="text-uppercase">{% trans "Language" %}</h6></li>
                        {% for language in languages %}
                            <li>
                                <a class="text-muted" href="/{{ language.code }}/"
                                        {% if language.code == LANGUAGE_CODE %}
                                   class="selected" {% endif %}>
                                    {{ language.name_local }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="eupopup eupopup-bottom eupopup-style-compact"></div>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/tether.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/moment-with-locales.min.js" %}"></script>
    <script src="{% static "js/daterangepicker.js" %}"></script>
    <script src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script src="{% static "js/mymensor-jquery.js" %}"></script>
    <script src="{% static "js/jquery-eu-cookie-law-popup.js" %}"></script>
    <script src="{% static "js/social-share-kit.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
    <!-- Page Local Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
        $(document).ready(function () {
            if ($(".eupopup").length > 0) {
                $(document).euCookieLawPopup().init({
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "pt" %}
                        'info': 'YOU_CAN_ADD_MORE_SETTINGS_HERE',
                        'popupTitle': 'Este website utiliza cookies. ',
                        'popupText': 'Nós utilizamos cookies para lhe dar a melhor experiência. Se você continuar a usar nosso website, consideraremos que você aceita receber todos os cookies deste website.',
                        'buttonContinueTitle': 'Continuar',
                        'buttonLearnmoreTitle': 'Mais&nbsp;informação'
                    {% else %}
                        'info': 'YOU_CAN_ADD_MORE_SETTINGS_HERE',
                        'popupTitle': 'This website is using cookies. ',
                        'popupText': 'We use them to give you the best experience. If you continue using our website, we\'ll assume that you are happy to receive all cookies on this website.'
                    {% endif %}
                });
            }
        });
    </script>
    {% block javascript %}
        {% block reporttranslatable %}
                                $('#reportrange').daterangepicker({
                        startDate: {{ start }},
                        endDate: {{ end }},
                        "alwaysShowCalendars": true,
                        {% if LANGUAGE_CODE == "pt" %}
                            ranges: {
                                'Hoje': [moment(), moment()],
                                'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
                                'Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
                                'Este Mês': [moment().startOf('month'), moment().endOf('month')],
                                'Mês Passado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            "locale": {
                                "format": "YYYY-MMM-DD",
                                "separator": " - ",
                                "applyLabel": "Aplicar",
                                "cancelLabel": "Cancelar",
                                "fromLabel": "De",
                                "toLabel": "a",
                                "customRangeLabel": "Personalizado",
                                "weekLabel": "S",
                                "daysOfWeek": [
                                    "Do",
                                    "2a",
                                    "3a",
                                    "4a",
                                    "5a",
                                    "6a",
                                    "Sa"
                                ],
                                "monthNames": [
                                    "Janeiro",
                                    "Fevereiro",
                                    "Março",
                                    "Abril",
                                    "Maio",
                                    "Junho",
                                    "Julho",
                                    "Agosto",
                                    "Setembro",
                                    "Outubro",
                                    "Novembro",
                                    "Dezembro"
                                ],
                                "firstDay": 1
                            }
                        {% else %}
                            ranges: {
                                'Today': [moment(), moment()],
                                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                'This Month': [moment().startOf('month'), moment().endOf('month')],
                                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            "locale": {
                                "format": "YYYY-MMM-DD",
                                "separator": " - ",
                                "applyLabel": "Apply",
                                "cancelLabel": "Cancel",
                                "fromLabel": "From",
                                "toLabel": "To",
                                "customRangeLabel": "Custom",
                                "weekLabel": "W",
                                "daysOfWeek": [
                                    "Su",
                                    "Mo",
                                    "Tu",
                                    "We",
                                    "Th",
                                    "Fr",
                                    "Sa"
                                ],
                                "monthNames": [
                                    "January",
                                    "February",
                                    "March",
                                    "April",
                                    "May",
                                    "June",
                                    "July",
                                    "August",
                                    "September",
                                    "October",
                                    "November",
                                    "December"
                                ],
                                "firstDay": 1
                            }
                        {% endif %}
                    }, cb);

        {% endblock %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
    </body>
    </html>
{% endlocaltime %}
