{% extends 'base.html' %}
{% load i18n mymfilters %}
{% if user.is_authenticated %}
    {% block title %}{% trans "Mobile Only User" %} - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="container">
            <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
                <p></p>
                <h3>{% trans "Mobile Only User Status" %}</h3>
                <p></p>
            </div>
            <div class="row" style="padding-bottom: 20px">
                <div class="col-sm-8">
                    {% if succesful %}
                        <div id="alert_placeholder"></div>
                        <p>{% trans "Your current mobile only user is the following:" %}</p>
                        <p></p>
                        <p>
                            {% trans "Mobile Only Username: " %}<strong>{{ mobonlyuser.mobileOnlyUserPrefix }}{{ user.username }}</strong></p>
                        <p></p>
                        <p>{% trans "To modify the password in use by your mobile only user use the field below." %}</p>
                        <p></p>
                        <ul>
                            <li>{% trans "Your password must contain only letters and numbers." %}</li>
                            <li>{% trans "Your password must contain at least 8 characters." %}</li>
                            <li>{% trans "Your password can't be entirely numeric." %}</li>
                        </ul>
                        <div class="input-group">
                            <input id="existingpassword"
                                   type="password" class="form-control"
                                   placeholder="{% trans 'Password here...' %}">
                            <span class="input-group-btn">
                            <button id="modifyexistingpassword"
                                    class="btn btn-info"
                                    type="button">{% trans 'Modify password' %}</button>
                        </span>
                        </div>
                        <div class="row" style="padding-top: 20px; padding-bottom: 20px">
                            <h3>{% trans "Delete your current mobile only user" %}</h3>
                        </div>
                        <div class="row" style="padding-bottom: 20px">
                            <div class="col-lg-8 ">
                                <p>{% trans "Press the button below to delete your current mobile only user." %}</p>
                                <a id="delete-mobuser" class="btn btn-outline-danger text-danger"
                                   role="button">{% trans "Delete Mobile Only User" %}</a>
                            </div>
                        </div>
                    {% else %}
                        <div id="alert_placeholder"></div>
                        <p>{% trans "Current you do not have a mobile only user." %}</p>
                        <p></p>
                        <p>{% trans "To create one insert below a password to be used by your new mobile only user." %}</p>
                        <p></p>
                        <ul>
                            <li>{% trans "Your password must contain only letters and numbers." %}</li>
                            <li>{% trans "Your password must contain at least 8 characters." %}</li>
                            <li>{% trans "Your password can't be entirely numeric." %}</li>
                        </ul>
                        <div class="input-group">
                            <input id="newpassword"
                                   type="password" class="form-control"
                                   placeholder="{% trans 'Password here...' %}">
                            <span class="input-group-btn">
                            <button id="createpassword"
                                    class="btn btn-info"
                                    type="button">{% trans 'Create password and mobile user' %}</button>
                        </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript">

        var mobuseralreadyexists = false;

            // Submit post on submit
            $('#modifyexistingpassword').click(function (event) {
                event.preventDefault();
                var password = document.getElementById("existingpassword").value;
                button_id = '#modifyexistingpassword';
                mobuseralreadyexists = true;
                console.log("Password existingpassword: " + password);  // sanity check
                save_value(password);
            });

            $('#createpassword').click(function (event) {
                event.preventDefault();
                var password = document.getElementById("newpassword").value;
                button_id = '#createpassword';
                console.log("Password newpassword: " + password);  // sanity check
                save_value(password);
            });

            $('#delete-mobuser').click(function (event) {
                event.preventDefault();
                button_id = '#createpassword';
                deletemobuser();
            });

            // AJAX for posting
            function save_value(password) {
                console.log("Saving Value is working!"); // sanity check
                console.log("mobuseralreadyexists:"+mobuseralreadyexists); // sanity check
                $.ajax({
                    url: "password/", // the endpoint
                    type: "POST", // http method
                    data: {mobuserplainpassword: password, mobuseralreadyexists: mobuseralreadyexists}, // data sent with the post request
                    // handle a successful response
                    success: function (json) {
                        $(button_id).removeClass('btn-secondary').addClass('btn-success');
                        $(button_id).removeClass('btn-info').addClass('btn-success');
                        $(button_id).removeClass('btn-danger').addClass('btn-success');
                        $(button_id).removeClass('btn-outline-danger').addClass('btn-success');
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                        window.location = '{% url 'createmobileonlyuser' %}'
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == "pt" %}
                            bootstrap_alert.warning('Por favor verifique que a vossa palavra-passe esteja corretamente formada.');
                        {% elif LANGUAGE_CODE == "pt-br" %}
                            bootstrap_alert.warning('Por favor forme a sua senha corretamente.');
                        {% else %}
                            bootstrap_alert.warning('Please make sure that your password is correctly formed.');
                        {% endif %}
                    }
                });
            }

            function deletemobuser() {
                console.log("Deletemobuser is working!"); // sanity check
                $.ajax({
                    url: "delete/", // the endpoint
                    type: "POST", // http method
                    data: {payload: "empty"}, // data sent with the post request
                    // handle a successful response
                    success: function (json) {
                        $(button_id).removeClass('btn-secondary').addClass('btn-success');
                        $(button_id).removeClass('btn-info').addClass('btn-success');
                        $(button_id).removeClass('btn-danger').addClass('btn-success');
                        $(button_id).removeClass('btn-outline-danger').addClass('btn-success');
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                        window.location = '{% url 'createmobileonlyuser' %}'
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == "pt" %}
                            bootstrap_alert.warning('Aconteceu um erro.');
                        {% elif LANGUAGE_CODE == "pt-br" %}
                            bootstrap_alert.warning('Aconteceu um erro.');
                        {% else %}
                            bootstrap_alert.warning('An error occurred.');
                        {% endif %}
                    }
                });
            }

            // This function gets cookie with a given name
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            /*
             The functions below will create a header with csrftoken
             */

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            bootstrap_alert = function () {
            };
            bootstrap_alert.warning = function (message) {
                $('#alert_placeholder').html('<div class="alert alert-danger" role="alert"><strong>' + message + '</strong></div>')
            }

        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
