{% extends 'base.html' %}
{% load i18n tz mymfilters %}
{% localtime on %}
    {% get_current_timezone as TIME_ZONE %}
    {% if user.is_authenticated %}
        {% block title %}{% trans "Subscription Cancellation" %} - {{ block.super }}{% endblock %}
        {% block header %}
        {% endblock %}
        {% block content %}
            <div class="container">
                {% if success %}
                    <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
                        <p></p>
                        <h3>{% trans "Subscription Cancelled" %}</h3>
                        <p></p>
                    </div>
                    <div class="row" style="padding-bottom: 20px">
                        <div class="col-sm-5">
                            <p></p>
                            <p>{% trans "Your subscription was succesfully cancelled. Nonetheless, you will be able to use your current account until the end of the present subscription period." %}</p>
                            <p></p>
                            <p>
                                {% trans "The subscription of " %}{{ request.user.username }}{% trans " is paid through " %}{{ currentsubscription.braintreesubscriptionLastDay }}</p>
                            <p></p>
                            <p>{% trans "We hope that you had a good time using MyMensor!" %}</p>
                            <p></p>
                            <p>{% trans "Please let us now about your comments or suggestions (Please use our contact email)" %}</p>
                            <p></p>
                            <p>{% trans "See you soon!" %}</p>
                            <p></p>
                        </div>
                    </div>
                {% else %}
                    <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
                        <h3>{% trans "Subscription Cancellation Failed" %}</h3>
                    </div>
                    <div class="row" style="padding-bottom: 20px">
                        <p>{% trans "Your subscription cancellation failed. Please try again." %}</p>
                        <p></p>
                        <p>{% trans "If the problem persists, please contact support." %}</p>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    {% else %}
        <h1>Not Logged In....</h1>
    {% endif %}
{% endlocaltime %}
