{% extends 'base.html' %}
{% load i18n tz mymfilters %}
{% localtime on %}
    {% get_current_timezone as TIME_ZONE %}
    {% if user.is_authenticated %}
        {% block title %}{% trans "Download Markers" %} - {{ block.super }}{% endblock %}
        {% block header %}
        {% endblock %}
        {% block content %}
            <div class="container">
            <div class="row" style="padding-top:20px; padding-bottom: 20px">
                <h3>{% trans "MyMensor ID Markers" %}</h3>
            </div>
            <div class="row" style="padding-bottom: 20px">
                <div class="col-lg-8">
                    <p>{% trans "Hi! If you end up here then you are up to some real serious use of our tool! Many thanks for your efforts!" %}</p>
                    <p>{% trans "So, in a nutshell, you will nee the standard markers to use Ambiguos VPs and you will need super markers to use Super VPs." %}</p>
                    <p>{% trans "Print the files, cut in the dotted lines..." %}</p>
                    <p>{% trans "You will get better results using adhesive paper or other more resistant material, depending on your target application." %}</p>
                    <p>{% trans "Please note that you can use any combination of those, as far as you do not repeat the ID numbers." %}</p>
                    <p>{% trans "Of course our software takes care of that and it will prevent you from configuring two (or more) vps with the same ID number." %}</p>
                    <p>{% trans "Anyway, we are telling you this in order to avoid loss of time!" %}</p>
                    <p>{% trans "If you want you can test our markers in sizes bigger or smaller than the ones supplied, it is up to you and your application case!" %}</p>
                    <p>{% trans "The markers that we use are a subset of the ones developed at the Unviversity of Cordoba in Spain, that can be found " %}<a href="http://www.sciencedirect.com/science/article/pii/S0031320314000235" download>{% trans "here." %}</a></p>
                </div>
            </div>
            <div class="row" style="padding-top:20px; padding-bottom: 20px">
                <h3>{% trans "Standard Markers" %}</h3>
            </div>
            <div class="row" style="padding-bottom: 20px">
                <div class="col-lg-5">
                    <p><a href="{{ stdmrkurl1 }}" download>{% trans "Standard Markers from 10 to 33" %}</a></p>
                    <p><a href="{{ stdmrkurl2 }}" download>{% trans "Standard Markers from 34 to 39" %}</a></p>
                </div>
            </div>
            <div class="row" style="padding-top:20px; padding-bottom: 20px">
                <h3>{% trans "Super Markers" %}</h3>
            </div>
            <div class="row" style="padding-bottom: 20px">
                <div class="col-lg-5">
                    <p><a href="{{ supermrkurl1 }}" download>{% trans "Super Markers from 10 to 12" %}</a></p>
                    <p><a href="{{ supermrkurl2 }}" download>{% trans "Super Markers from 13 to 15" %}</a></p>
                    <p><a href="{{ supermrkurl3 }}" download>{% trans "Super Markers from 16 to 18" %}</a></p>
                    <p><a href="{{ supermrkurl4 }}" download>{% trans "Super Markers from 19 to 21" %}</a></p>
                    <p><a href="{{ supermrkurl5 }}" download>{% trans "Super Markers from 22 to 24" %}</a></p>
                    <p><a href="{{ supermrkurl6 }}" download>{% trans "Super Markers from 25 to 27" %}</a></p>
                    <p><a href="{{ supermrkurl7 }}" download>{% trans "Super Markers from 28 to 30" %}</a></p>
                    <p><a href="{{ supermrkurl8 }}" download>{% trans "Super Markers from 31 to 33" %}</a></p>
                    <p><a href="{{ supermrkurl9 }}" download>{% trans "Super Markers from 34 to 36" %}</a></p>
                    <p><a href="{{ supermrkurl10 }}" download>{% trans "Super Markers from 37 to 39" %}</a></p>
                </div>
            </div>
        {% endblock %}
    {% else %}
        <h1>{% trans "Not Logged In...." %}</h1>
    {% endif %}
{% endlocaltime %}

