{% extends 'base.html' %}
{% load i18n mymfilters %}
{% if user.is_authenticated %}
    {% block title %}Facebook Account - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-sm-5">
                <div id="fbaccount">
                    <h2>Facebook Account</h2>
                    <div id="status">
                    </div>
                    <div id="fbloginbutton" class="btn-group">
		                <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
		                <a class='btn btn-primary ' href='' style="width:12em">{% trans "Connect to Facebook" %}</a>
	                </div>
                    <div id="fblogoutbutton" class="btn-group">
		                <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
		                <a class='btn btn-primary ' href='' style="width:12em">{% trans "Disconnect from Facebook" %}</a>
	                </div>
                </div>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script>
            var userID;
            var accessToken;
            var expiresIn;
            var signedRequest;

            // Login in the current user via Facebook and ask for email permission
            function authUser() {
                FB.login(checkLoginState, {scope: 'publish_actions'});
            }

            function logoutUser() {
                FB.logout(checkLoginState);
            }

            // This is called with the results from from FB.getLoginStatus().
            function statusChangeCallback(response) {
                console.log('statusChangeCallback');
                console.log(response);
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    userID = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                    expiresIn = response.authResponse.expiresIn;
                    signedRequest = response.authResponse.signedRequest;
                    // Hide the login button
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('logoutButton').style.display = 'block';
                    testAPI();
                } else {
                    // Display the login button
                    document.getElementById('loginButton').style.display = 'block';
                    document.getElementById('logoutButton').style.display = 'none';
                    // The person is not logged into your app or we are unable to tell.
                    document.getElementById('status').innerHTML = {% trans 'Please log in to distribute MyMensor captures to Facebook.' %};
                }
            }

            // This function is called when someone finishes with the Login
            // Button.  See the onlogin handler attached to it in the sample
            // code below.
            function checkLoginState() {
                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });
            }

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '286196915140475',
                    cookie: true,  // enable cookies to allow the server to access
                                   // the session
                    xfbml: true,  // parse social plugins on this page
                    version: 'v2.8' // use graph api version 2.8
                });

                // Now that we've initialized the JavaScript SDK, we call
                // FB.getLoginStatus().  This function gets the state of the
                // person visiting this page and can return one of three states to
                // the callback you provide.  They can be:
                //
                // 1. Logged into your app ('connected')
                // 2. Logged into Facebook, but not your app ('not_authorized')
                // 3. Not logged into Facebook and can't tell if they are logged into
                //    your app or not.
                //
                // These three cases are handled in the callback function.

                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });

            };

            // Load the SDK asynchronously
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // Here we run a very simple test of the Graph API after login is
            // successful.  See statusChangeCallback() for when this call is made.
            function testAPI() {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function (response) {
                    console.log('Successful login for: ' + response.name);
                    console.log(response);
                    document.getElementById('status').innerHTML = {% trans 'You are distributing MyMensor captures to the Facebbok accout of ' %} + response.name;
                });
            }
        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
