{% extends 'base.html' %}
{% load i18n mymfilters %}
{% if user.is_authenticated %}
    {% block title %}Facebook Account - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-sm-5">
                <div id="fbaccount">
                    <br/>
                    <h2>Facebook Account</h2>
                    <br/>
                    <div id="status"></div>
                    <br/>
                    <input id="loginButton" type="reset" value="&#xf230; {% trans "  Connect to Facebook" %}" class="fainsideinput btn btn-primary" onclick="authUser();" />
                    <input id="logoutButton" type="reset" value="&#xf230; {% trans "  Disconnect from Facebook" %}" class="fainsideinput btn btn-secondary" onclick="logoutUser();" />
                </div>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script>
            var fbUserID;
            var fbUserName;
            var fbAccessToken;
            var fbAccTknExpiresIn;
            var fbAccTknIssuedAt;
            var fbAccTknSignedRequest;
            var mymensorUserID;

            mymensorUserID = {{ mymensoruserID }}

            // Login in the current user via Facebook and ask for email permission
            function authUser() {
                FB.login(checkLoginState, {scope: 'publish_actions'});
            }

            function logoutUser() {
                secondLevelLogout();
                FB.logout(checkLoginState);
            }

            // This is called with the results from from FB.getLoginStatus().
            function statusChangeCallback(response) {
                console.log('statusChangeCallback');
                console.log(response);
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    userID = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                    expiresIn = response.authResponse.expiresIn;
                    signedRequest = response.authResponse.signedRequest;
                    // Hide the login button
                    document.getElementById('loginButton').style.display = 'none';
                    document.getElementById('logoutButton').style.display = 'block';
                    secondLevelAuth();
                } else {
                    // Display the login button
                    document.getElementById('loginButton').style.display = 'block';
                    document.getElementById('logoutButton').style.display = 'none';
                    // The person is not logged into your app or we are unable to tell.
                    document.getElementById('status').innerHTML = "{% trans 'Please log in to distribute MyMensor captures to Facebook.' %}";
                }
            }

            // This function is called when someone finishes with the Login
            // Button.  See the onlogin handler attached to it in the sample
            // code below.
            function checkLoginState() {
                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });
            }

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '286196915140475',
                    cookie: true,  // enable cookies to allow the server to access
                                   // the session
                    xfbml: true,  // parse social plugins on this page
                    version: 'v2.7' // use graph api version 2.8
                });

                // Now that we've initialized the JavaScript SDK, we call
                // FB.getLoginStatus().  This function gets the state of the
                // person visiting this page and can return one of three states to
                // the callback you provide.  They can be:
                //
                // 1. Logged into your app ('connected')
                // 2. Logged into Facebook, but not your app ('not_authorized')
                // 3. Not logged into Facebook and can't tell if they are logged into
                //    your app or not.
                //
                // These three cases are handled in the callback function.

                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });

            };

            // Load the SDK asynchronously
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function secondLevelLogout() {
                console.log('Welcome!  Second level user logout. ');
            }

            function secondLevelAuth() {
                console.log('Welcome!  Second level user auth. ');
                FB.api('/me', function (response) {
                    console.log('Successful login for: ' + response.name);
                    userName = response.name;
                    console.log(response);
                    document.getElementById('status').innerHTML = "{% trans 'You are distributing MyMensor captures to the Facebbok accout of ' %}" + response.name;
                    secondLevelAuthAjax();
                });
            }

            // AJAX for posting
            function secondLevelAuthAjax() {
                console.log("secondLevelAuthAjax was called!"); // sanity check
                $.ajax({
                    url : "secstgauth/", // the endpoint
                    type : "POST", // http method
                    data : { fbUserID:fbUserID, fbUserName:fbUserName, fbAccessToken:fbAccessToken, fbAccTknSignedRequest:fbAccTknSignedRequest, mymensorUserID:mymensorUserID }, // data sent with the post request
                    // handle a successful response
                    success : function(json) {
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            };

            // This function gets cookie with a given name
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            /*
            The functions below will create a header with csrftoken
            */

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
