{% extends 'layouts/base.html' %}
{% if user.is_authenticated %}
    {% block title %}Portfolio - {{ block.super }}{% endblock %}
    {% block content %}
		{% for media in medias %}
		<h1>{{ media.mediaMymensorAccount }}</h1>
            <h2>{{ media.mediaMillisSinceEpoch }}</h2>
		    {% if media.mediaContentType == "image/jpeg" %}
                <img src="{{ media.mediaStorageURL }}" class="img-responsive" alt=""/>
            {% endif %}
            {% if media.mediaContentType == "video/mp4" %}
                <video controls>
                    <source src="{{ media.mediaStorageURL }}" type="video/mp4"/>
                </video>
            {% endif %}
		{% endfor %}
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
