{% extends 'base.html' %}
{% load i18n tz counter %}
{% if user.is_authenticated %}
    {% block title %}Portfolio - {{ block.super }}{% endblock %}
    {% block content %}
         <div class="d-flex align-content-start flex-wrap">
            <div class="dashhead-toolbar">
                <div class="input-with-icon dashhead-toolbar-item">
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: auto ">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
                <div class="dashhead-toolbar-item">
                    <select id="qtytodisplaypervp" class="1-100"></select>
                </div>
            </div>
        </div>
        <hr>
        {% for vp in vps %}
            <div class="d-flex align-content-start flex-wrap">
                {% for media in medias %}
                    {% if vp.vpNumber == media.mediaVpNumber %}
                        {% counter start=1 silent=True assign='mediaqtyinvp' %}
                        {% if mediaqtyinvp < 6 %}
                            {% if media.mediaContentType == "image/jpeg" %}
                                 <div class="card card-outline-primary m-2" style="width: 20rem;">
                                    <div class="card-header text-primary">
                                       <h5 data-toggle="tooltip" data-placement="top" title={{ vp.vpDescription }}>VP#{{ media.mediaVpNumber }}
                                            {% if media.mediaProcessed %}
                                                <span class="fa fa-bar-chart vpprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% else %}
                                                <span class="fa fa-bar-chart vpnotprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <a data-toggle="modal" data-target="#mediaModal" data-whatever="{{ media.mediaStorageURL }}">
                                        <img class="card-img-top img-fluid" src="{{ media.mediaStorageURL }}" alt="">
                                    </a>
                                    <div class="card-block">
                                         <p class="card-text">
                                             {% if media.mediaArIsOn %}
                                                <span class="arused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality used to capture' %}">AR ON</span>
                                             {% else %}
                                                <span class="arnotused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality not used to capture' %}">AR OFF</span>
                                             {% endif %}
                                             {% if media.mediaTimeIsCertified %}
                                                <span class="fa fa-clock-o timecert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-clock-o timenotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time not certified' %}"></span>
                                             {% endif %}
                                             {% if media.mediaLocIsCertified %}
                                                <span class="fa fa-map-marker loccert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-map-marker locnotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location not certified' %}"></span>
                                             {% endif %}
                                        </p>
                                    </div>
                                    <div class="card-block">
                                        <p class="card-text">
                                            <span class="fa fa-camera" data-toggle="tooltip" data-placement="top" title="{% trans 'Captured on' %}"></span> {{ media.mediaTimeStamp | date:"Y-b-d H:i:sO" }}
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <span class="fa fa-cloud-upload" data-toggle="tooltip" data-placement="top" title="{% trans 'Received at server on' %}"></span> {{ media.mediaDBTimeStamp | date:"Y-b-d H:i:sO"}}
                                    </div>
                                 </div>
                            {% endif %}
                            {% if media.mediaContentType == "video/mp4" %}
                                <div class="card card-outline-primary m-2" style="width: 20rem;">
                                    <div class="card-header text-primary">
                                        <h5 data-toggle="tooltip" data-placement="top" title={{ vp.vpDescription }}>VP#{{ media.mediaVpNumber }}
                                            {% if media.mediaProcessed %}
                                                <span class="fa fa-bar-chart vpprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% else %}
                                                <span class="fa fa-bar-chart vpnotprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video controls>
                                            <source src="{{ media.mediaStorageURL }}" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="card-block">
                                         <p class="card-text">
                                             {% if media.mediaArIsOn %}
                                                <span class="arused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality used to capture' %}">AR ON</span>
                                             {% else %}
                                                <span class="arnotused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality not used to capture' %}">AR OFF</span>
                                             {% endif %}
                                             {% if media.mediaTimeIsCertified %}
                                                <span class="fa fa-clock-o timecert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-clock-o timenotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time not certified' %}"></span>
                                             {% endif %}
                                             {% if media.mediaLocIsCertified %}
                                                <span class="fa fa-map-marker loccert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-map-marker locnotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location not certified' %}"></span>
                                             {% endif %}
                                        </p>
                                    </div>
                                    <div class="card-block">
                                        <p class="card-text">
                                            <span class="fa fa-video-camera" data-toggle="tooltip" data-placement="top" title="{% trans 'Captured on' %}"></span> {{ media.mediaTimeStamp | date:"Y-b-d H:i:sO"}}
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <span class="fa fa-cloud-upload" data-toggle="tooltip" data-placement="top" title="{% trans 'Received at server on' %}"></span> {{ media.mediaDBTimeStamp | date:"Y-b-d H:i:sO"}}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
        <!-- Modal -->
        <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-body">
                  <img id="mediaContent" class="img-fluid" src="{{ media.mediaStorageURL }}" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- Django Instant client engine
	    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        {% include "mymclient.html" %}
        {% include "mymmessages.html" %}
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
