{% extends 'base.html' %}
{% load staticfiles i18n tz counter assign %}
{% localtime on %}
    {% get_current_timezone as TIME_ZONE %}
    {% if user.is_authenticated %}
        {% block title %}{% trans "Location" %} - {{ block.super }}{% endblock %}
        {% block content %}
            <div class="mym-dash">
                <div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
                    <div class="mym-dash-item">
                        <div class="d-flex flex-column justify-content-around">
                            <div id="reportrange"
                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 18rem ">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span id="selcdates"></span> <b class="caret"></b>
                            </div>
                            <div class="d-flex flex-row justify-content-around align-items-center flex-wrap">
                                {% if showuserpath == 1 %}
                                    <span id="showuserpath" class="fa fa-map-o pathinlocation" data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Showing user path when capturing media" %}"></span>
                                {% else %}
                                    <span id="showuserpath" class="fa fa-map-o pathnotinlocation" data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Not showing user path when capturing media" %}"></span>
                                {% endif %}
                                {% if showlocationprecision == 1 %}
                                    <span id="showlocationprecision" class="fa fa-bullseye precisioninlocation"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Showing location accuracy of media captures" %}"></span>
                                {% else %}
                                    <span id="showlocationprecision"
                                          class="fa fa-bullseye precisionnotinlocation" data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Not showing location accuracy of media captures" %}"></span>
                                {% endif %}
                                {% if showonlyloccert == 1 %}
                                    <span id="showonlyloccert" class="fa fa-map-marker loccertinlocation"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Showing only location certified media captures" %}"></span>
                                {% else %}
                                    <span id="showonlyloccert" class="fa fa-map-marker locnotcertinlocation"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Showing media captures, even with no location certification" %}"></span>
                                {% endif %}
                                {% if showonlytimecert == 1 %}
                                    <span id="showonlytimecert" class="fa fa-clock-o timecertinlocation"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Showing only time certified media captures" %}"></span>
                                {% else %}
                                    <span id="showonlytimecert" class="fa fa-clock-o timenotcertinlocation"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Show media captures, even with no time certification" %}"></span>
                                {% endif %}
                                {% if showlastmedia == 1 %}
                                    <span id="showlastmedia" class="fa fa-fast-forward showlastmediainlocation"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Showing the last of the media captures" %}"></span>
                                {% else %}
                                    <span id="showlastmedia" class="fa fa-fast-forward showlastmedianotinlocation"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="{% trans "Not necessarily showing the last of the media captures" %}"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="vpselector" class="mym-dash-item">
                        <select class="vpselectedclass" multiple="multiple" id="vpsselected" name="vpsselected">
                            {% for vpnumber in vpslist %}
                                <option id="optionvp#{{ vpnumber.vpNumber }}" value='{{ vpnumber.vpNumber }}'
                                        {% if vpnumber.vpNumber in vpsselected %}selected{% endif %}>
                                    VP#{{ vpnumber.vpNumber }} - {{ vpnumber.vpDescription }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="orgmymaccselector" class="mym-dash-item">
                        <select class="vpselectedclass" multiple="multiple" id="orgmymaccselected"
                                name="orgmymaccselected">
                            {% for orgmymacc in orgmymacclist %}
                                <option id="optionacc#{{ orgmymacc }}" value='{{ orgmymacc }}'
                                        {% if orgmymacc in orgmymaccselected %}selected{% endif %}>{{ orgmymacc }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mym-dash-item">
                        <button id="refreshbtn" type="button" class="mym-dash-item btn btn-outline-primary btn-lg"
                                data-toggle="tooltip"
                                data-placement="top" title="{% trans 'Refresh with current selection' %}">
                            <span class="fa fa-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div id="locationview">
                <div id="locationmapid"></div>
            </div>
            <hr>
            <div id="vpsview">
                {% for vp in vps %}
                    {% if vp.vpNumber in media_vpnumbers %}
                        {% for media in medias %}
                            {% if vp.vpNumber == media.mediaVpNumber %}
                                {% if media.mediaContentType == "image/jpeg" %}
                                    <!-- Modal to Images -->
                                    <div class="modal fade"
                                         id="mediaModal{{ media.id }}"
                                         tabindex="-1" role="dialog" aria-labelledby="mediaImageModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <a href="{% url 'vpdetail' %}?startdate={{ start }}&enddate={{ end }}&vpselected={{ media.mediaVpNumber }}&mediaselected={{ media.id }}">
                                                        <img id="mediaContent" class="img-fluid"
                                                             src="{{ media.mediaStorageURL }}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if media.mediaContentType == "video/mp4" %}
                                    <!-- Modal to Videos -->
                                    <div class="modal fade"
                                         id="mediaModal{{ media.id }}"
                                         tabindex="-1" role="dialog" aria-labelledby="mediaVideoModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <a href="{% url 'vpdetail' %}?startdate={{ start }}&enddate={{ end }}&vpselected={{ media.mediaVpNumber }}&mediaselected={{ media.id }}">
                                                            <video controls>
                                                                <source src="{{ media.mediaStorageURL }}"
                                                                        type="video/mp4">
                                                            </video>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
        {% block javascript %}
            <link rel="stylesheet" href="{% static 'css/leaflet.extra-markers.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">

            <script src="{% static "js/leaflet.js" %}"></script>
            <script src="{% static "js/leaflet.extra-markers.min.js" %}"></script>
            <script src="{% static "js/leaflet.markercluster.js" %}"></script>

            <script type="text/javascript">

                $('#vpsselected').chosen();

                $('#orgmymaccselected').chosen();

                {% get_current_language as LANGUAGE_CODE %}

                moment.locale('{{ LANGUAGE_CODE }}');

                var start = moment("{{ start }}","YYYY-MM-DDTHH:mm:ss.SSSZZ");

                var end = moment("{{ end }}","YYYY-MM-DDTHH:mm:ss.SSSZZ");

                $(function () {

                    function cb(start, end) {
                        $('#reportrange span').html(start.format('YYYY-MMM-DD') + ' - ' + end.format('YYYY-MMM-DD'));
                    }

                    $('#reportrange').daterangepicker({
                        startDate: start,
                        endDate: end,
                        "alwaysShowCalendars": true,
                        {% if LANGUAGE_CODE == "pt" %}
                            ranges: {
                                'Hoje': [moment(), moment()],
                                'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
                                'Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
                                'Este Mês': [moment().startOf('month'), moment().endOf('month')],
                                'Mês Passado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            "locale": {
                                "format": "YYYY-MMM-DD",
                                "separator": " - ",
                                "applyLabel": "Aplicar",
                                "cancelLabel": "Cancelar",
                                "fromLabel": "De",
                                "toLabel": "a",
                                "customRangeLabel": "Personalizado",
                                "weekLabel": "S",
                                "daysOfWeek": [
                                    "Do",
                                    "2a",
                                    "3a",
                                    "4a",
                                    "5a",
                                    "6a",
                                    "Sa"
                                ],
                                "monthNames": [
                                    "Janeiro",
                                    "Fevereiro",
                                    "Março",
                                    "Abril",
                                    "Maio",
                                    "Junho",
                                    "Julho",
                                    "Agosto",
                                    "Setembro",
                                    "Outubro",
                                    "Novembro",
                                    "Dezembro"
                                ],
                                "firstDay": 1
                            }
                        {% elif LANGUAGE_CODE == "pt-br" %}
                            ranges: {
                                'Hoje': [moment(), moment()],
                                'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
                                'Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
                                'Este Mês': [moment().startOf('month'), moment().endOf('month')],
                                'Mês Passado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            "locale": {
                                "format": "YYYY-MMM-DD",
                                "separator": " - ",
                                "applyLabel": "Aplicar",
                                "cancelLabel": "Cancelar",
                                "fromLabel": "De",
                                "toLabel": "a",
                                "customRangeLabel": "Personalizado",
                                "weekLabel": "S",
                                "daysOfWeek": [
                                    "Do",
                                    "2a",
                                    "3a",
                                    "4a",
                                    "5a",
                                    "6a",
                                    "Sa"
                                ],
                                "monthNames": [
                                    "Janeiro",
                                    "Fevereiro",
                                    "Março",
                                    "Abril",
                                    "Maio",
                                    "Junho",
                                    "Julho",
                                    "Agosto",
                                    "Setembro",
                                    "Outubro",
                                    "Novembro",
                                    "Dezembro"
                                ],
                                "firstDay": 1
                            }
                        {% else %}
                            ranges: {
                                'Today': [moment(), moment()],
                                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                'This Month': [moment().startOf('month'), moment().endOf('month')],
                                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            "locale": {
                                "format": "YYYY-MMM-DD",
                                "separator": " - ",
                                "applyLabel": "Apply",
                                "cancelLabel": "Cancel",
                                "fromLabel": "From",
                                "toLabel": "To",
                                "customRangeLabel": "Custom",
                                "weekLabel": "W",
                                "daysOfWeek": [
                                    "Su",
                                    "Mo",
                                    "Tu",
                                    "We",
                                    "Th",
                                    "Fr",
                                    "Sa"
                                ],
                                "monthNames": [
                                    "January",
                                    "February",
                                    "March",
                                    "April",
                                    "May",
                                    "June",
                                    "July",
                                    "August",
                                    "September",
                                    "October",
                                    "November",
                                    "December"
                                ],
                                "firstDay": 1
                            }
                        {% endif %}
                    }, cb);

                    cb(start, end);

                    $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                        var startdate = encodeURIComponent(picker.startDate.format("YYYY-MM-DDTHH:mm:ss.SSSZZ"));
                        var enddate = encodeURIComponent(picker.endDate.format("YYYY-MM-DDTHH:mm:ss.SSSZZ"));
                        console.log(startdate);
                        console.log(enddate);
                        var vpssel = $('#vpsselected').serialize();
                        var orgmymaccsel = $('#orgmymaccselected').serialize();
                        console.log('Chosen:' + vpssel);
                        window.location = '{% url 'location' %}' + '?startdate=' + startdate + '&enddate=' + enddate + '&showlocationprecision=' + {{ showlocationprecision }} +'&showuserpath=' + {{ showuserpath }} +'&showonlyloccert=' + {{ showonlyloccert }} +'&showonlytimecert=' + {{ showonlytimecert }}+'&showlastmedia=' + {{ showlastmedia }}  +'&' + vpssel + '&' + orgmymaccsel + '&centerlat=0' + '&centerlng=0' + '&mapzoom=0';
                    });

                    $('#refreshbtn').click(function () {
                        var vpssel = $('#vpsselected').serialize();
                        var orgmymaccsel = $('#orgmymaccselected').serialize();
                        console.log('Chosen:' + vpssel);
                        console.log('Chosen:' + orgmymaccsel);
                        window.location = '{% url 'location' %}' + '?startdate=' + encodeURIComponent(start.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&enddate=' + encodeURIComponent(end.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&showlocationprecision=' + {{ showlocationprecision }}+'&showuserpath=' + {{ showuserpath }} +'&showonlyloccert=' + {{ showonlyloccert }} +'&showonlytimecert=' + {{ showonlytimecert }} +'&showlastmedia=' + {{ showlastmedia }} +'&' + vpssel + '&' + orgmymaccsel + '&centerlat=0' + '&centerlng=0' + '&mapzoom=0';
                    });

                });

                $(function () {

                    var mymap = L.map('locationmapid').setView([0, 0], 10);

                    var showLocationPrecision = {{ showlocationprecision }};
                    var showUserPath = {{ showuserpath }};
                    var showOnlyLocCertified = {{ showonlyloccert }};
                    var showOnlyTimeCertified = {{ showonlytimecert }};
                    var showlastmedia = {{ showlastmedia }};

                    var centerlat = {{ centerlat }};
                    var centerlng = {{ centerlng }};
                    var mapzoom = {{ mapzoom }};


                    var markerGroup = L.markerClusterGroup();

                    var markerColor = ['blue', 'red', 'orange-dark', 'orange', 'yellow', 'blue-dark', 'cyan', 'purple', 'violet', 'pink', 'green-dark', 'green', 'green-light', 'black', 'black', 'blue', 'red', 'orange-dark', 'orange', 'yellow', 'blue-dark', 'cyan', 'purple', 'violet', 'pink', 'green-dark', 'green', 'green-light', 'black', 'blue', 'blue'];

                    var markerShape = ['circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'circle', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'square', 'star', 'penta'];

                    $('#showlocationprecision').click(function () {
                        if ($(this).hasClass('precisioninlocation')) {
                            showLocationPrecision = 0;
                            $(this).removeClass('precisioninlocation').addClass('precisionnotinlocation');
                        } else {
                            showLocationPrecision = 1;
                            $(this).removeClass('precisionnotinlocation').addClass('precisioninlocation');
                        }
                        var vpssel = $('#vpsselected').serialize();
                        var orgmymaccsel = $('#orgmymaccselected').serialize();
                        centerlat = mymap.getCenter().lat;
                        centerlng = mymap.getCenter().lng;
                        mapzoom = mymap.getZoom();
                        window.location = '{% url 'location' %}' + '?startdate=' + encodeURIComponent(start.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&enddate=' + encodeURIComponent(end.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&showlocationprecision=' + showLocationPrecision + '&showuserpath=' + {{ showuserpath }} +'&showonlyloccert=' + {{ showonlyloccert }} +'&showonlytimecert=' + {{ showonlytimecert }} +'&showlastmedia=' + {{ showlastmedia }} +'&' + vpssel + '&' + orgmymaccsel + '&centerlat=' + centerlat + '&centerlng=' + centerlng + '&mapzoom=' + mapzoom;
                    });

                    $('#showuserpath').click(function () {
                        if ($(this).hasClass('pathinlocation')) {
                            showUserPath = 0;
                            $(this).removeClass('pathinlocation').addClass('pathnotinlocation');
                        } else {
                            showUserPath = 1;
                            $(this).removeClass('pathnotinlocation').addClass('pathinlocation');
                        }
                        var vpssel = $('#vpsselected').serialize();
                        var orgmymaccsel = $('#orgmymaccselected').serialize();
                        centerlat = mymap.getCenter().lat;
                        centerlng = mymap.getCenter().lng;
                        mapzoom = mymap.getZoom();
                        window.location = '{% url 'location' %}' + '?startdate=' + encodeURIComponent(start.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&enddate=' + encodeURIComponent(end.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&showlocationprecision=' + {{ showlocationprecision }} +'&showuserpath=' + showUserPath + '&showonlyloccert=' + {{ showonlyloccert }} +'&showonlytimecert=' + {{ showonlytimecert }} +'&showlastmedia=' + {{ showlastmedia }} +'&' + vpssel + '&' + orgmymaccsel + '&centerlat=' + centerlat + '&centerlng=' + centerlng + '&mapzoom=' + mapzoom;
                    });

                    $('#showonlyloccert').click(function () {
                        if ($(this).hasClass('loccertinlocation')) {
                            showOnlyLocCertified = 0;
                            $(this).removeClass('loccertinlocation').addClass('locnotcertinlocation');
                        } else {
                            showOnlyLocCertified = 1;
                            $(this).removeClass('locnotcertinlocation').addClass('loccertinlocation');
                        }
                        var vpssel = $('#vpsselected').serialize();
                        var orgmymaccsel = $('#orgmymaccselected').serialize();
                        window.location = '{% url 'location' %}' + '?startdate=' + encodeURIComponent(start.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&enddate=' + encodeURIComponent(end.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&showlocationprecision=' + {{ showlocationprecision }} +'&showuserpath=' + showUserPath + '&showonlyloccert=' + showOnlyLocCertified + '&showonlytimecert=' + {{ showonlytimecert }} +'&showlastmedia=' + {{ showlastmedia }} +'&' + vpssel + '&' + orgmymaccsel + '&centerlat=0' + '&centerlng=0' + '&mapzoom=0';
                    });

                    $('#showonlytimecert').click(function () {
                        if ($(this).hasClass('timecertinlocation')) {
                            showOnlyTimeCertified = 0;
                            $(this).removeClass('timecertinlocation').addClass('timenotcertinlocation');
                        } else {
                            showOnlyTimeCertified = 1;
                            $(this).removeClass('timenotcertinlocation').addClass('timecertinlocation');
                        }
                        var vpssel = $('#vpsselected').serialize();
                        var orgmymaccsel = $('#orgmymaccselected').serialize();
                        window.location = '{% url 'location' %}' + '?startdate=' + encodeURIComponent(start.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&enddate=' + encodeURIComponent(end.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&showlocationprecision=' + {{ showlocationprecision }} +'&showuserpath=' + showUserPath + '&showonlyloccert=' + {{ showonlyloccert }} +'&showonlytimecert=' + showOnlyTimeCertified+ '&showlastmedia=' + {{ showlastmedia }} + '&' + vpssel + '&' + orgmymaccsel + '&centerlat=0' + '&centerlng=0' + '&mapzoom=0';
                    });

                    $('#showlastmedia').click(function () {
                        if ($(this).hasClass('showlastmediainlocation')) {
                            showlastmedia = 0;
                            $(this).removeClass('showlastmediainlocation').addClass('showlastmedianotinlocation');
                        } else {
                            showlastmedia = 1;
                            $(this).removeClass('showlastmedianotinlocation').addClass('showlastmediainlocation');
                        }
                        var vpssel = $('#vpsselected').serialize();
                        var orgmymaccsel = $('#orgmymaccselected').serialize();
                        window.location = '{% url 'location' %}' + '?startdate=' + encodeURIComponent(start.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&enddate=' + encodeURIComponent(end.format("YYYY-MM-DDTHH:mm:ss.SSSZZ")) + '&showlocationprecision=' + {{ showlocationprecision }} +'&showuserpath=' + showUserPath + '&showonlyloccert=' + {{ showonlyloccert }} +'&showonlytimecert=' + {{ showonlytimecert }}+ '&showlastmedia=' + showlastmedia + '&' + vpssel + '&' + orgmymaccsel;
                    });

                    var colorNames = ['blue', 'red', 'orange', 'yellow', 'cyan', 'purple', 'violet', 'pink', 'green', 'black'];

                    var id = 'appmymensor-47cc2df8';

                    var host = 'https://maps.omniscale.net/v2/' + id + '/style.default/{z}/{x}/{y}.png';

                    var attribution = '&copy; 2017 &middot; <a href="https://maps.omniscale.com/">Omniscale</a> ' +
                        '&middot; Map data: <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>';


                    L.tileLayer(host, {
                        id: id,
                        attribution: attribution
                    }).addTo(mymap);
                    {% for orgmymacc in orgmymacclist %}
                        {% if orgmymacc in orgmymaccselected %}
                            var coords{{ orgmymacc | cut:"+" }} = [];
                        {% endif %}
                    {% endfor %}
                    {% for vp in vps %}
                        {% if vp.vpNumber in media_vpnumbers %}
                            {% for media in medias %}
                                {% if vp.vpNumber == media.mediaVpNumber %}
                                    {% if media.mediaOriginalMymensorAccount in orgmymaccselected %}
                                        var markericon{{ media.id }} = L.ExtraMarkers.icon({
                                            icon: 'fa-number',
                                            markerColor: markerColor[{{ media.mediaVpNumber }}],
                                            shape: markerShape[{{ media.mediaVpNumber }}],
                                            number: '{{ media.mediaVpNumber }}',
                                            prefix: 'fa'
                                        });
                                        var marker{{ media.id }} = L.marker([{{ media.mediaLatitude }}, {{ media.mediaLongitude }}], {icon: markericon{{ media.id }}});
                                        marker{{ media.id }}.on('mouseover', function (ev) {
                                            ev.target.bindTooltip('{{ media.mediaOriginalMymensorAccount }} - VP#{{ media.mediaVpNumber }} - {{ media.mediaTimeStamp | localtime | date:"Y-b-d H:i:sO" }}').openTooltip();
                                        });
                                        marker{{ media.id }}.on('mouseout', function (ev) {
                                            ev.target.closeTooltip();
                                        });
                                        marker{{ media.id }}.on('click', function (ev) {
                                            $('#mediaModal{{ media.id }}').modal('show');
                                        });
                                        markerGroup.addLayer(marker{{ media.id }});
                                        mymap.addLayer(markerGroup);
                                        if (showLocationPrecision) {
                                            var circle = L.circle([{{ media.mediaLatitude }}, {{ media.mediaLongitude }}], {
                                                color: 'red',
                                                fillColor: '#f03',
                                                fillOpacity: 0.2,
                                                radius: {{ media.mediaLocPrecisionInMeters | floatformat:3 }}
                                            }).addTo(mymap);
                                        }
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% for media in medias %}
                        {% for orgmymacc in orgmymacclist %}
                            {% if orgmymacc in orgmymaccselected and media.mediaOriginalMymensorAccount == orgmymacc %}
                                coords{{ orgmymacc | cut:"+" }}.push([{{ media.mediaLatitude }}, {{ media.mediaLongitude }}]);
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    if (showUserPath == 1) {
                        {% for orgmymacc in orgmymacclist %}
                            {% if orgmymacc in orgmymaccselected %}
                                var colorrand = colorNames[(Math.floor((Math.random() * 10)))];
                                var pathLine{{ orgmymacc | cut:"+" }} = L.polyline(coords{{ orgmymacc | cut:"+" }}, {color: colorrand}).addTo(mymap);
                                pathLine{{ orgmymacc | cut:"+" }}.on('mouseover', function (ev) {
                                    ev.target.bindTooltip('{{ orgmymacc }}').openTooltip();
                                });
                                pathLine{{ orgmymacc | cut:"+" }}.on('mouseout', function (ev) {
                                    ev.target.closeTooltip();
                                });
                            {% endif %}
                        {% endfor %}
                    }

                    //&bound1=LatLng(-22.98953,%20-43.37746)&bound2=LatLng(-22.89468,%20-43.05302)

                    //var b1 = [-22.98953, -43.37746];
                    //var b2 = [-22.89468, -43.05302];
                    if (mapzoom == 0) {
                        mymap.fitBounds(markerGroup.getBounds());
                    } else {
                        mymap.setView(L.latLng(centerlat, centerlng), mapzoom, true);
                    }

                    //mymap.fitBounds(b1,b2);
                });


            </script>

        {% endblock %}
    {% else %}
        <h1>Not Logged In....</h1>
    {% endif %}
{% endlocaltime %}
