{% extends 'layouts/base.html' %}
{% if user.is_authenticated %}
    {% block title %}Mediafeed - {{ block.super }}{% endblock %}
    {% block content %}
        <div class="d-flex align-content-start flex-wrap">
            {% for media in medias %}
                {% if media.mediaContentType == "image/jpeg" %}
                     <div class="card card-outline-primary m-2" style="width: 20rem;">
                        <div class="card-header text-primary"><h4>VP#{{ media.mediaVpNumber }}</h4></div>
                        <a data-toggle="modal" data-target="#mediaModal" data-whatever="{{ media.mediaStorageURL }}">
                            <img class="card-img-top img-fluid" src="{{ media.mediaStorageURL }}" alt="">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">Captured on</h4>
                            <p class="card-text">{{ media.mediaTimeStamp }}</p>
                        </div>
                        <div class="card-footer text-muted">Received at {{ media.mediaDBTimeStamp }}</div>
                     </div>
                {% endif %}
                {% if media.mediaContentType == "video/mp4" %}
                    <div class="card card-outline-primary m-2" style="width: 20rem;">
                        <div class="card-header text-primary"><h4>VP#{{ media.mediaVpNumber }}</h4></div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls>
                                <source src="{{ media.mediaStorageURL }}" type="video/mp4">
                            </video>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Captured on</h4>
                            <p class="card-text">{{ media.mediaTimeStamp }}</p>
                        </div>
                        <div class="card-footer text-muted">Received at {{ media.mediaDBTimeStamp }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header"></div>
                    <img id="mediaContent" class="img-fluid" src="{{ media.mediaStorageURL }}" alt="">
              <div class="modal-body">
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}