{% extends 'layouts/base.html' %}
{% block title %}Setup - {{ block.super }}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div id="form-edit">
    <form action="" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn">Submit</button>
    </form>
	    {% if form.is_valid %}
        <div>
            <h2>Cleaned Data</h2>
            <pre>{{ cleaned_data }}</pre>
        </div>
    {% endif %}
    {% if raw_post %}
        <div>
            <h2>Raw POST data:</h2>
            <pre>{{ raw_post }}</pre>
        </div>
    {% endif %}
</div>
{% endblock %}
