{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block title %}{% trans "Support" %} - {{ block.super }}{% endblock %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container">
        <p></p>
        <h3>{% trans "Support page" %}</h3>
        <p></p>
        <p class="text-justify">{% trans "Many thanks for using our software! Please see below how you can find info to help clarify your doubts." %} </p>
        <h4 class="text-info text-capitalize">{% trans "Frequently Asked Questions" %}</h4>
        <p class="text-justify">{% trans "Frequently asked questions can be found at " %}<a href="https://mymensor.com/{{ LANGUAGE_CODE }}/faq">{% trans "link" %}</a></p>
        <h4 class="text-info text-capitalize">{% trans "Marketing and Training Videos" %}</h4>
        <p class="text-justify">{% trans "Marketing Videos can be found at " %}<a href="https://mymensor.com/{{ LANGUAGE_CODE }}/videos/#videosviewexplainer">{% trans "link" %}</a></p>
        <p class="text-justify">{% trans "Training Videos for the MyMensor Mobile App can be found at " %}<a href="https://mymensor.com/{{ LANGUAGE_CODE }}/videos/#videosviewmobapp">{% trans "link" %}</a></p>
        <p class="text-justify">{% trans "Training Videos for the MyMensor Web App can be found at " %}<a href="https://mymensor.com/{{ LANGUAGE_CODE }}/videos/#videosviewwebapp">{% trans "link" %}</a></p>
        <h4 class="text-info text-capitalize">{% trans "Software Docs" %}</h4>
        <p class="text-justify">{% trans "Explanation about concepts and definitions used in this software can be found at " %}<a href="https://mymensor.com/{{ LANGUAGE_CODE }}/docs">{% trans "link" %}</a></p>
        <h4 class="text-info text-capitalize">{% trans "Email Support" %}</h4>
        <p class="text-justify">{% trans "If you cannot clarify your doubts using the above methods, please send us an email to " %}
            <a href="mailto: support@mymensor.com">support@mymensor.com</a> {% trans " and we will responded as soon as practically possible." %}
        </p>
    </div>
{% endblock %}