{% extends 'base.html' %}
{% load i18n staticfiles tz counter assign %}
{% localtime on %}
{% get_current_timezone as TIME_ZONE %}
{% block title %}Tag Analysis - {{ block.super }}{% endblock %}

{% block content %}
    <div class="d-flex align-content-start flex-wrap">
            <div class="dashhead-toolbar">
                <div class="dashhead-toolbar-item">
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 18rem ">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span id="selcdates"></span> <b class="caret"></b>
                    </div>
                </div>
                <div id="tagselector" class="dashhead-tagsmultiselect-item">
                    <select multiple="multiple" id="tagsselected" name="tagsselected">
                    {% for processedtagnumber in listofprocessedtagsnumbers %}
                        <option id="optiontag#{{ processedtagnumber.statusTagNumber }}"
                                value='{{ processedtagnumber.statusTagNumber }}'
                                {% if processedtagnumber.statusTagNumber in tagsselected %}selected{% endif %}>Tag#{{ processedtagnumber.statusTagNumber }} - {{ processedtagnumber.statusTagDescription }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="dashhead-toolbar-item">
                    <button id="refreshbtn" type="button" class="btn btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="top" title="{% trans 'Refresh chart with current selection' %}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
            </div>
    </div>
    <hr>
    <div class="canvasstyle" style="width:80%">
        <br>
        <canvas id="canvas"></canvas>
    </div>
    <!-- Modals for all pints being shown on chart -->
    {% for processedtagnumber in listofprocessedtagsnumbers %}
        {% if processedtagnumber.statusTagNumber in tagsselected %}
            {% for processedtag in processedtags %}
                {% if processedtag.statusTagNumber == processedtagnumber.statusTagNumber %}
                    <div class="modal fade" id="Modal{{ processedtag.statusMediaMillisSinceEpoch }}Tag#{{ processedtagnumber.statusTagNumber }}" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-body">
                              {% for media in medias %}
                                  {% if media.mediaMillisSinceEpoch == processedtag.statusMediaMillisSinceEpoch %}
                                      {% if media.mediaContentType == "image/jpeg" %}
                                        <img id="mediaContent" class="img-fluid" src="{{ media.mediaStorageURL }}" alt="">
                                      {% endif %}
                                      {% if media.mediaContentType == "video/mp4" %}
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <video controls>
                                                <source src="{{ media.mediaStorageURL }}" type="video/mp4">
                                            </video>
                                        </div>
                                      {% endif %}
                                  {% endif %}
                              {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}



{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript">
        $('#tagsselected').chosen();
        $(function() {

            var start = moment("{{ start }}");
            var end = moment("{{ end }}");

            console.log("{{ start }}");
            console.log("{{ end }}");

            function cb(start, end) {
                $('#reportrange span').html(start.format('YYYY-MMM-DD') + ' - ' + end.format('YYYY-MMM-DD'));
            }

            $('#reportrange').daterangepicker({
                startDate: {{ start }},
                endDate: {{ end }},
                "alwaysShowCalendars": true,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var startdate = picker.startDate.format('YYYY-MM-DD');
                var enddate = picker.endDate.format('YYYY-MM-DD');
                console.log(startdate);
                console.log(enddate);
                var tagssel = $('#tagsselected').serialize();
                console.log('Chosen:'+tagssel);
                window.location={% url 'taganalysis' %}+'?startdate='+startdate+'&enddate='+enddate+'&'+tagssel;
            });

            $('#refreshbtn').click(function(){
                var tagssel = $('#tagsselected').serialize();
                console.log('Chosen:'+tagssel);
                window.location={% url 'taganalysis' %}+'?startdate='+'{{ start }}'+'&enddate='+'{{ end }}'+'&'+tagssel;
            });

        });

    </script>
{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static "js/Chart.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/hammer.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/chartjs-plugin-zoom.js" %}"></script>
	<script type="text/javascript" src="{% static "js/chartjs-plugin-annotation.js" %}"></script>
    <script type="text/javascript">

        console.log('Initially Chosen:'+'{{ tagsselected }}');

        var timeFormat = 'x';

        function newDate(date) {
			    return moment(date, timeFormat).format('YYYY-MM-DDTHH:mm:ss.SSS');
		    }

        var colorNames = Object.keys(window.chartColors);

        var color = Chart.helpers.color;

        var config = {
            type: 'line',
            data: {
                datasets: [
                    {% for processedtagnumber in listofprocessedtagsnumbers %}
                        {% if processedtagnumber.statusTagNumber in tagsselected %}
                        {
                            label: 'Tag#' + {{ processedtagnumber.statusTagNumber }},
                            backgroundColor: window.chartColors[colorNames[ ({{ processedtagnumber.statusTagNumber }}) % colorNames.length]],
                            borderColor: window.chartColors[colorNames[ ({{ processedtagnumber.statusTagNumber }}) % colorNames.length]],
                            data: [
                                {% for processedtag in processedtags %}
                                    {% if processedtag.statusTagNumber == processedtagnumber.statusTagNumber %}
                                        {x:newDate("{{ processedtag.statusMediaMillisSinceEpoch }}"), y: {{ processedtag.statusValValueEvaluated }} },
                                    {% endif %}
                                {% endfor %}
                            ],
                            fill: false
                        },
                        {% endif %}
                    {% endfor %}
            ]},
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'right'
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        id: 'x-axis-1',
                        position: 'bottom',
                        display: true,
                        time: {
                            unit: 'day',
                            displayFormats: {
                                "day": 'YYYY-MM-DD'
                            }
                        }
                    }],
                    yAxes: [{
                        display: true,
                        id: 'y-axis-1',
                        position: "left"
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myScatter = new Chart(ctx, config);
        };

        canvas.onclick = function(evt){
            var activePoint = myScatter.getElementAtEvent(evt);
            console.log(activePoint[0]);
            console.log(config.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index]);
            console.log(config.data.datasets[activePoint[0]._datasetIndex].label);
            console.log(config.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index].x);
            console.log(moment(config.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index].x,'YYYY-MM-DDTHH:mm:ss.sss').valueOf());
            console.log(config.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index].y);
            var taglabel = config.data.datasets[activePoint[0]._datasetIndex].label;
            var restoredseconds = moment(config.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index].x,'YYYY-MM-DDTHH:mm:ss.sss').unix();
            var modalname = "Modal"+restoredmillis+taglabel;
            $('#'+modalname).modal('show');
        };

    </script>
{% endblock %}

{% endlocaltime %}


id="Modal{{ processedtag.statusMediaMillisSinceEpoch }}Tag#{{ processedtagnumber.statusTagNumber }}"
