{% extends 'base.html' %}
{% load i18n tz counter assign%}
{% localtime on %}
{% get_current_timezone as TIME_ZONE %}
{% if user.is_authenticated %}
    {% block title %}Tag Processing - {{ block.super }}{% endblock %}
    {% block content %}
        <div class="d-flex align-content-start flex-wrap">
            <div class="dashhead-toolbar">
                <div class="dashhead-toolbar-item">
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 18rem ">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span id="selcdates"></span> <b class="caret"></b>
                    </div>
                </div>
                <div id="qtyselector" class="dashhead-toolbar-item">
                    <p>{% trans 'Media quantity per VP: ' %}</p>
                    <select id="qtytodisplaypervp" class="1-100"></select>
                </div>
            </div>
        </div>
        <hr>
        <div id="vpsview">
            {% for vp in vps %}
            <div class="d-flex align-content-start flex-wrap">
                {% for media in medias %}
                    {% if vp.vpNumber == media.mediaVpNumber %}
                        {% counter start=0 silent=True assign='mediaqtyinvp' %}
                        {% if qtypervp > mediaqtyinvp %}
                            {% if media.mediaContentType == "image/jpeg" %}
                                 <div class="card card-outline-primary m-2" style="width: 20rem;">
                                    <div class="card-header text-primary">
                                       <h5 data-toggle="tooltip" data-placement="top" title="{{ vp.vpDescription }}">VP#{{ media.mediaVpNumber }}
                                            {% if media.mediaProcessed %}
                                                <span class="fa fa-bar-chart vpprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% else %}
                                                <span class="fa fa-bar-chart vpnotprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <a data-toggle="modal" data-target="#mediaModal" data-whatever="{{ media.mediaStorageURL }}">
                                        <img class="card-img-top img-fluid" src="{{ media.mediaStorageURL }}" alt="">
                                    </a>
                                    <div class="card-block">
                                         <p class="card-text">
                                                <a data-toggle="modal" data-target="#mediaModal" data-whatever="{{ vp.vpStdPhotoStorageURL }}">
                                                    <span class="fa fa-picture-o descvp" data-toggle="tooltip" data-placement="top" title="{% trans 'VP standard photo' %}"></span>
                                                </a>
                                             {% if media.mediaArIsOn %}
                                                <span class="arused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality used to capture' %}">AR ON</span>
                                             {% else %}
                                                <span class="arnotused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality not used to capture' %}">AR OFF</span>
                                             {% endif %}
                                             {% if media.mediaTimeIsCertified %}
                                                <span class="fa fa-clock-o timecert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-clock-o timenotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time not certified' %}"></span>
                                             {% endif %}
                                             {% if media.mediaLocIsCertified %}
                                                <span class="fa fa-map-marker loccert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-map-marker locnotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location not certified' %}"></span>
                                             {% endif %}
                                        </p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for tag in tags %}
                                            {% if tag.vp == vp.id %}
                                                <li class="list-group-item">{{ tag.tagNumber }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <div class="card-block">
                                        <p class="card-text">
                                            <span class="fa fa-camera" data-toggle="tooltip" data-placement="top" title="{% trans 'Captured on' %}"></span> {{ media.mediaTimeStamp | localtime | date:"Y-b-d H:i:sO" }}
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <span class="fa fa-cloud-upload" data-toggle="tooltip" data-placement="top" title="{% trans 'Received at server on' %}"></span> {{ media.mediaDBTimeStamp | localtime | date:"Y-b-d H:i:sO"}}
                                    </div>
                                 </div>
                            {% endif %}
                            {% if media.mediaContentType == "video/mp4" %}
                                <div class="card card-outline-primary m-2" style="width: 20rem;">
                                    <div class="card-header text-primary">
                                        <h5 data-toggle="tooltip" data-placement="top" title="{{ vp.vpDescription }}">VP#{{ media.mediaVpNumber }}
                                            {% if media.mediaProcessed %}
                                                <span class="fa fa-bar-chart vpprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% else %}
                                                <span class="fa fa-bar-chart vpnotprocessed" data-toggle="tooltip" data-placement="top" title="{% trans 'Not processed' %}"></span>
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video controls>
                                            <source src="{{ media.mediaStorageURL }}" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="card-block">
                                         <p class="card-text">
                                             {% if media.mediaArIsOn %}
                                                <span class="arused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality used to capture' %}">AR ON</span>
                                             {% else %}
                                                <span class="arnotused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality not used to capture' %}">AR OFF</span>
                                             {% endif %}
                                             {% if media.mediaTimeIsCertified %}
                                                <span class="fa fa-clock-o timecert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-clock-o timenotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time not certified' %}"></span>
                                             {% endif %}
                                             {% if media.mediaLocIsCertified %}
                                                <span class="fa fa-map-marker loccert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location certified' %}"></span>
                                             {% else %}
                                                <span class="fa fa-map-marker locnotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location not certified' %}"></span>
                                             {% endif %}
                                        </p>
                                    </div>
                                    <div class="card-block">
                                        <p class="card-text">
                                            <span class="fa fa-video-camera" data-toggle="tooltip" data-placement="top" title="{% trans 'Captured on' %}"></span> {{ media.mediaTimeStamp | localtime | date:"Y-b-d H:i:sO"}}
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <span class="fa fa-cloud-upload" data-toggle="tooltip" data-placement="top" title="{% trans 'Received at server on' %}"></span> {{ media.mediaDBTimeStamp | localtime | date:"Y-b-d H:i:sO"}}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-body">
                  <img id="mediaContent" class="img-fluid" src="{{ media.mediaStorageURL }}" alt="">
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript">

        $(function() {

            var start = moment("{{ start }}");
            var end = moment("{{ end }}");

            function cb(start, end) {
                $('#reportrange span').html(start.format('YYYY-MMM-DD') + ' - ' + end.format('YYYY-MMM-DD'));
            }

            $('#reportrange').daterangepicker({
                startDate: {{ start }},
                endDate: {{ end }},
                "alwaysShowCalendars": true,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var startdate = picker.startDate.format('YYYY-MM-DD');
                var enddate = picker.endDate.format('YYYY-MM-DD');
                console.log(startdate);
                console.log(enddate);
                console.log({% url 'tagprocessing' %});
                window.location={% url 'tagprocessing' %}+'?startdate='+startdate+'&enddate='+enddate+'&qtypervp='+{{ qtypervp }};
            });

        });
        $(function(){
            console.log({{ qtypervp }});
            var $select = $('.1-100');
            for (i=1;i<=20;i++){
                $select.append($('<option></option>').val(i).html(i))
            }
            $('.1-100 option[value="{{ qtypervp }}"]').attr('selected','selected');
            $('#qtytodisplaypervp').change(function(){
                var qtyselected = $(this).find(":selected").val();
                console.log(qtyselected);
                window.location={% url 'tagprocessing' %}+'?startdate='+'{{ start }}'+'&enddate='+'{{ end }}'+'&qtypervp='+qtyselected;
            });
        });
        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
{% endlocaltime %}
