{% extends 'base.html' %}
{% load i18n%}
{% if user.is_authenticated %}
    {% block title %}TAG Processing - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="d-flex align-content-start flex-wrap">
            <div class="dashhead-toolbar">
                <div id="qtyselector" class="dashhead-tagstoolbar-item">
                    <p>{% trans 'VP # ' %}</p>
                    <select id="currvp" class="1-30"></select>
                        {% for vp in listofvpsnotprocessed %}
                        <option value="{{ vp }}">{{ vp }}</option>
                        {% endfor %}
                </div>
                <div id="qtyselector" class="dashhead-tagstoolbar-item">
                    <p>{% trans 'TAG # ' %}</p>
                    <select id="currtag" class="1-80">
                        {% for tag in listoftagsnotprocessed %}
                        <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="qtyselector" class="dashhead-tagstoolbar-item">
                    <p>{% trans 'MEDIA: ' %}</p>
                    <select id="currmed" class="1-90">
                        {% for mediaDate in listofmediasnotprocessed %}
                        <option value="{{ mediaDate }}">{{ mediaDate }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div id="tagedition">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="currentmediaid" value="{{ currentmediaid }}">
                <input type="hidden" name="currentvp" value="{{ currentvp }}">
                <input type="hidden" name="currenttag" value="{{ currenttag }}">
                <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript">
        $(function(){

            console.log("INITIAL: vpselected="+"{{ currentvp }}"+" tagselected="+"{{ currenttag }}"+" mediaselected="+"{{ currentmediaid }}");

            $('.1-30 option[value="{{ currentvp }}"]').attr('selected','selected');
            $('#currvp').change(function(){
                var vpselected = $(this).find(":selected").val();
                console.log("VPSELECTED: vpselected="+vpselected+" tagselected="+"{{ currenttag }}"+" mediaselected="+"{{ currentmediaid }}");
                window.location={% url 'tagprocessing' %}+'?currentvp='+vpselected+'&currenttag='+'{{ currenttag }}'+'&currentmediaid='+'{{ currentmediaid }}';
            });

            $('.1-80 option[value="{{ currenttag }}"]').attr('selected','selected');
            $('#currtag').change(function(){
                var tagselected = $(this).find(":selected").val();
                console.log("TAGSELECTED: vpselected="+"{{ currentvp }}"+" tagselected="+tagselected+" mediaselected="+"{{ currentmediaid }}");
                window.location={% url 'tagprocessing' %}+'?currentvp='+'{{ currentvp }}'+'&currenttag='+tagselected+'&currentmediaid='+'{{ currentmediaid }}';
            });

            $('.1-90 option[value="{{ currentmediaid }}"]').attr('selected','selected');
            $('#currmed').change(function(){
                var mediaselected = $(this).find(":selected").val();
                console.log("MEDIASELECTED: vpselected="+'{{ currentvp }}'+" tagselected="+'{{ currenttag }}'+" mediaselected="+mediaselected);
                window.location={% url 'tagprocessing' %}+'?currentvp='+'{{ currentvp }}'+'&currenttag='+'{{ currenttag }}'+'&currentmediaid='+mediaselected;
            });
        });
        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
