{% extends 'base.html' %}
{% load i18n%}
{% if user.is_authenticated %}
    {% block title %}TAGs Setup - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="d-flex align-content-start flex-wrap">
            <div class="dashhead-toolbar">
                <div id="qtyselector" class="dashhead-toolbar-item">
                    <p>{% trans 'VP # ' %}</p>
                    <select id="currentvp" class="1-30"></select>
                </div>
                div id="qtyselector" class="dashhead-toolbar-item">
                    <p>{% trans 'TAG # ' %}</p>
                    <select id="currenttag" class="1-80"></select>
                </div>
            </div>
        </div>
        <hr>
        <div id="vpedition">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript">
        $(function(){
            var qtvps = {{ qtyvps }};
            var qttags = {{ qtytags }}
            var $select = $('.1-30');
            var $selecttag = $('.1-80');
            for (i=1; i < qtvps ;i++){
                $select.append($('<option></option>').val(i).html(i))
            }
            for (i=1; i < qttags ;i++){
                $selecttag.append($('<option></option>').val(i).html(i))
            }
            $('.1-30 option[value="{{ currentvp }}"]').attr('selected','selected');
            $('.1-30 option[value="{{ currenttag }}"]').attr('selected','selected');
            $('#currentvp').change(function(){
                var vpselected = $(this).find(":selected").val();
                console.log(vpselected);
                window.location={% url 'tagsetup' %}+'?qtyvps='+'{{ qtyvps }}'+'&currentvp='+vpselected+'&qtytags='+'{{ qtytags }}'+'&currenttag='+'{{ currenttag }}';
            });
            $('#currenttag').change(function(){
                var tagselected = $(this).find(":selected").val();
                console.log(tagselected);
                window.location={% url 'tagsetup' %}+'?qtyvps='+'{{ qtyvps }}'+'&currentvp='+'{{ currentvp }}'+'&qtytags='+'{{ qtytags }}'+'&currenttag='+tagselected;
            });
        });
        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
