{% extends 'base.html' %}
{% load staticfiles i18n%}
{% if user.is_authenticated %}
    {% block title %}TAGs Setup - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
            <div class="d-flex flex-row justify-content-start align-content-start">
                <div id="vpselector" class=class="dashhead-tagstoolbar-item">
                    <select id="currvp">
                        {% for vp in vps %}
                            <option value="{{ vp.vpNumber }}" {% if vp.vpNumber == currentvp %}selected{% endif %}>VP#{{ vp.vpNumber }} - {{ vp.vpDescription }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="tagselectorforeachvp" class="dashhead-tagstoolbar-item">
                    <select id="currtag">
                        {% for tag in tags %}
                            <option value="{{ tag.tagNumber }}" {% if tag.tagNumber == currenttag %}selected{% endif %}>TAG#{{ tag.tagNumber }} - {{ tag.tagDescription }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="tagstotalqtyselector" class="dashhead-tagstoolbar-item">
                    <span id="inctags" class="fa fa-plus-circle fa-lg butinctags" data-toggle="tooltip" data-placement="top" title="{% trans 'Increase Tag Quantity' %}">{% trans 'Total TAG qty= ' %}{{ qtytags }}</span>
                </div>
            </div>
        <hr>
        <div id="tagedition">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="currentvp" value="{{ currentvp }}">
                <input type="hidden" name="currenttag" value="{{ currenttag }}">
                <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
        <script type="text/javascript">
        $('#currvp').chosen();
        $('#currtag').chosen();
        $(function(){

            var qttags = {{ qtytags }};
            var qtvps = {{ qtyvps }};

            $('#currtag').change(function(){
                var tagselected = $(this).find(":selected").val();
                console.log("TAGSELECTED: qtvps="+qtvps+" qttags="+qttags+" vpselected="+'{{ currentvp }}'+" tagselected="+tagselected);
                window.location={% url 'tagsetup' %}+'?qtyvps='+'{{ qtyvps }}'+'&currentvp='+'{{ currentvp }}'+'&qtytags='+'{{ qtytags }}'+'&currenttag='+tagselected;
            });

            console.log("INITIAL: qtvps="+qtvps+" qttags="+qttags+" vpselected="+'{{ currentvp }}'+" tagselected="+'{{ currenttag }}');

            $('#currvp').change(function(){
                var vpselected = $(this).find(":selected").val();
                console.log("VPSELECTED: qtvps="+qtvps+" qttags="+qttags+" vpselected="+vpselected+" tagselected="+'{{ currenttag }}');
                window.location={% url 'tagsetup' %}+'?qtyvps='+'{{ qtyvps }}'+'&currentvp='+vpselected+'&qtytags='+'{{ qtytags }}'+'&currenttag='+'{{ currenttag }}';
            });

            $('#inctags').click(function(){
                console.log("Clicked on inctags!!!!");
                qttags = qttags + 1;
                console.log("INCTAGSCLICKED: qtvps="+qtvps+" qttags="+qttags+" vpselected="+'{{ currentvp }}'+" tagselected="+qttags);
                window.location={% url 'tagsetup' %}+'?qtyvps='+'{{ qtyvps }}'+'&currentvp='+'{{ currentvp }}'+'&qtytags='+qttags+'&currenttag='+qttags;
            });

        });
        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
