{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}Tag Status - {{ block.super }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
    <script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static "js/dataTables.responsive.min.js" %}"></script>

    <script type="text/javascript">
        var TAG_STATUS = '{% url 'tag_status' %}';
        // translations for datatables

        var dt_language = {
            "emptyTable":     "{% trans "No data available in table" %}",
            "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing":     "{% trans "Processing..." %}",
            "search":         "{% trans "Search:" %}",
            "zeroRecords":    "{% trans "No matching records found" %}",
            "paginate": {
                "first":      "{% trans "First" %}",
                "last":       "{% trans "Last" %}",
                "next":       "{% trans "Next" %}",
                "previous":   "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending":  "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }

        $(document).ready(function() {

            console.log("AAAAAHHHHHHHHHH!!!!!!!!");

        var table = $('#statustable').DataTable({
            language: dt_language,  // global variable defined in html
            order: [[ 0, "asc" ]],
            lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
            columnDefs: [
                {orderable: true,
                 searchable: true,
                 className: "center",
                 targets: [0, 1]
                }
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            responsive: true,
            ajax: TAG_STATUS
            });




        $('#statustable').DataTable().rows().every( function ( rowIdx, tableLoop, rowLoop ) {

            var data = this.data();

            console.log("AAAAAHHHHHHHHHH!!!!!!!!2222222");

            console.log("data:"+data);

            console.log("data[7]:"+data[7]);

            if (data[7]==1) {
                data[7] = "{% trans 'PROCESSED' %}";
                console.log("AAAAAHHHHHHHHHH!!!!!!!!33333333");
                this.data(data);
        	    var cell = table.cell({ row: rowIdx, column: 7 }).node();
	            $(cell).addClass('statusprocessed');
            }

            });



        });


    </script>
{% endblock %}

{% block content %}
    <p></p>
    <table id="statustable"  class="datatable">
        <thead>
            <th>{% trans "Tag#" %}</th>
            <th>{% trans "Tag Description" %}</th>
            <th>{% trans "VP#" %}</th>
            <th>{% trans "VP Description" %}</th>
            <th>{% trans "Value" %}</th>
            <th>{% trans "Unit" %}</th>
            <th>{% trans "Value Date" %}</th>
            <th>{% trans "Value State" %}</th>
            <th>{% trans "Processed Date" %}</th>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}