{% extends 'base.html' %}
{% load i18n staticfiles %}
{% load render_table from django_tables2 %}
{% block title %}Tag Status - {{ block.super }}{% endblock %}

{% block content %}
    <div class="mym-dash">
        <div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
            <div class="mym-dash-item">
                <div id="reportrange"
                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 18rem ">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span id="selcdates"></span> <b class="caret"></b>
                </div>
            </div>
            <div id="qtyselector" class="mym-dash-item">
                <p>{% trans 'Show ' %}</p>
                <select id="linesperpage">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <p>{% trans ' lines per page' %}</p>
            </div>
            <div id="vpsselector" class="mym-dash-item" style="width:30rem">
                <select multiple="multiple" id="vpsselected" name="vpsselected">
                {% for vpnumber in vpnumbers %}
                    <option id="optionvp#{{ vpnumber }}"
                            value='{{ vpnumber }}'
                            {% if vpnumber in vpsselected %}selected{% endif %}>VP#{{ vpnumber }}</option>
                {% endfor %}
                </select>
            </div>
            <div id="tagsselector" class="mym-dash-item" style="width:30rem">
                <select multiple="multiple" id="tagsselected" name="tagsselected">
                {% for tagnumber in tagnumbers %}
                    <option id="optiontag#{{ tagnumber }}"
                            value='{{ tagnumber }}'
                            {% if tagnumber in tagsselected %}selected{% endif %}>Tag#{{ tagnumber }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mym-dash-item">
                <button id="refreshbtn" type="button" class="btn btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="top" title="{% trans 'Refresh chart with current selection' %}">
                    <span class="fa fa-refresh"></span>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-10">
            {% render_table tagstatustable %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $('#vpselected').chosen();

        $('#tagsselected').chosen();

        $('#linesperpage option[value="{{ linesperpage }}"]').attr('selected','selected');

        $(function () {

            var start = moment("{{ start }}");
            var end = moment("{{ end }}");

            console.log("{{ start }}");
            console.log("{{ end }}");

            function cb(start, end) {
                $('#reportrange span').html(start.format('YYYY-MMM-DD') + ' - ' + end.format('YYYY-MMM-DD'));
            }

            $('#reportrange').daterangepicker({
                startDate: {{ start }},
                endDate: {{ end }},
                "alwaysShowCalendars": true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                var startdate = picker.startDate.format('YYYY-MM-DD');
                var enddate = picker.endDate.format('YYYY-MM-DD');
                console.log(startdate);
                console.log(enddate);
                var tagssel = $('#tagsselected').serialize();
                console.log('Chosen:' + tagssel);
                window.location = {% url 'tagstatus' %}+'?startdate='+startdate+'&enddate='+enddate + '&linesperpage=' + '{{ linesperpage }}' + '&vpsselected=' +'{{ vpsselected }}'+ '&tagsselected='+'{{ tagsselected }}';
            });

            $('#linesperpage').change(function () {
                var linesperpage = $(this).find(":selected").val();
                console.log("linesperpage:" + linesperpage);
                window.location = {% url 'tagstatus' %}+'?startdate='+'{{ start }}'+'&enddate='+'{{ end }}'+ '&linesperpage=' + linesperpage +'&vpsselected='+'{{ vpsselected }}'+'&tagsselected=' + '{{ tagsselected }}';
            });

            $('#vpsselected').change(function () {
                var vpselected = $(this).find(":selected").val();
                console.log("vpselected:" + vpselected);
                window.location = {% url 'tagstatus' %}+'?startdate='+'{{ start }}'+'&enddate='+'{{ end }}'+ '&linesperpage=' + '{{ linesperpage }}'+'&vpsselected='+vpsselected+'&tagsselected=' + '{{ tagsselected }}';
            });

            $('#tagsselected').change(function () {
                var mediaselected = $(this).find(":selected").val();
                console.log("mediaselected:" + mediaselected);
                window.location = {% url 'tagstatus' %}+'?startdate=' + '{{ start }}' + '&enddate=' + '{{ end }}'+ '&linesperpage=' + '{{ linesperpage }}'+'&vpsselected='+'{{ vpsselected }}' + '&tagsselected=' + tagsselected;
            });

            $('#refreshbtn').click(function(){
                var tagssel = $('#tagsselected').serialize();
                console.log('Chosen:'+tagssel);
                window.location={% url 'tagstatus' %}+'?startdate='+'{{ start }}'+'&enddate='+'{{ end }}'+'&'+tagssel;
            });

        });
    </script>
{% endblock %}