{% extends 'base.html' %}
{% load i18n mymfilters %}
{% if user.is_authenticated %}
    {% block title %}Twitter Acc - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-sm-5">
                <div id="twitterinfo">
                    <img src="{{ twtuser.profile_image_url_https }}"/>
                    <h3>{{ twtuser.name }}</h3>
                    <p>{{ twtuser.screen_name }}</p>
                    <a href="{% url 'twtoauth_unauth' %}" class="btn btn-seconday">{% trans 'Disconnect from Twitter' %}</a>
                </div>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
