{% extends 'base.html' %}
{% load i18n mymfilters %}
{% if user.is_authenticated %}
    {% block title %}Twitter Account - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-sm-5">
                <div id="twittersignin">
                    <br/>
                    <h2>Twitter Account</h2>
                    <br/>
                    <p>Sign in with Twitter to be able to distribute MyMensor captures to Twitter.</p>
                    <br/>
                    <p><a href="{% url 'twtoauth_auth' %}"><img
                            src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"
                            alt="Connect to Twitter"/></a></p>
                </div>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
