{% extends 'base.html' %}
{% load i18n staticfiles tz counter assign mymfilters%}
{% localtime on %}
{% get_current_timezone as TIME_ZONE %}
{% block title %}VP Detail - {{ block.super }}{% endblock %}

{% block content %}
    <div class="d-flex align-content-start flex-wrap">
            <div class="dashhead-toolbar">
                <div class="dashhead-toolbar-item">
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 18rem ">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span id="selcdates"></span> <b class="caret"></b>
                    </div>
                </div>
                <div id="vpselector" class="dashhead-toolbar-item">
                    <select id="vpselected" data-placeholder="{% trans 'Choose VP... ' %}" name="vpselected">
                    {% for vp in vps %}
                        <option id="optionvp{{ vp.vpNumber }}"
                                value='{{ vp.vpNumber }}'
                                {% if vp.vpNumber == vpselected %}selected{% endif %}>VP#{{ vp.vpNumber }} - {{ vp.vpDescription }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div id="mediaselector" class="dashhead-toolbar-item">
                    <select id="mediaselected" data-placeholder="{% trans 'Show media from... ' %}" name="mediaselected">
                    {% for media in medias %}
                        <option id="optionmedia{{ media.id }}"
                                value='{{ media.id }}'
                                {% if media.id == mediaselected %}selected{% endif %}>{{ media.mediaTimeStamp }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
    </div>
    <hr>

    <div class="d-flex align-content-start flex-wrap">
        {% if mediaContentType == "image/jpeg" %}
            <div class="card card-outline-primary m-2" style="width: 50rem;">
                <div class="card-block">
                    <p class="card-text">
                        <span class="fa fa-camera" data-toggle="tooltip" data-placement="top" title="{% trans 'Captured on' %}"></span> {{ mediaTimeStamp }}
                     {% if mediaArIsOn == "1" %}
                        <span class="arused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality used to capture' %}">AR ON</span>
                     {% else %}
                        <span class="arnotused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality not used to capture' %}">AR OFF</span>
                     {% endif %}
                     {% if mediaTimeIsCertified == "1" %}
                        <span class="fa fa-clock-o timecert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time certified' %}"></span>
                     {% else %}
                        <span class="fa fa-clock-o timenotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time not certified' %}"></span>
                     {% endif %}
                     {% if mediaLocIsCertified == "1" %}
                        <span class="fa fa-map-marker loccert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location certified' %}"></span>
                     {% else %}
                        <span class="fa fa-map-marker locnotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location not certified' %}"></span>
                     {% endif %}
                    </p>
                </div>
                <a data-toggle="modal" data-target="#mediaModal" data-whatever="{{ mediaStorageURL }}">
                    <img class="card-img-top img-fluid" src="{{ mediaStorageURL }}" alt="">
                </a>
                <ul class="list-group list-group-flush">
                    {% if mediaArIsOn == "1" %}
                    <li class="list-group-item"><span class="arusedinnotes" >AR ON</span>{% trans ' means that augmented reality was used to capture this media' %}</li>
                    {% else %}
                    <li class="list-group-item"><span class="arnotusedinnotes" >AR OFF</span> {% trans ' means that augmented reality was not used to capture this media' %}</li>
                    {% endif %}
                    {% if mediaTimeIsCertified == "1" %}
                    <li class="list-group-item"><span class="fa fa-clock-o timecertinnotes"></span>{% trans ' means that the capture time was certified by MyMensor' %}</li>
                    {% else %}
                    <li class="list-group-item"><span class="fa fa-clock-o timenotcertinnotes"></span>{% trans ' means that the capture time was not certified by MyMensor' %}</li>
                    {% endif %}
                    {% if mediaLocIsCertified == "1" %}
                    <li class="list-group-item"><span class="fa fa-map-marker loccertinnotes"></span>{% trans ' means that the capture location was certified by MyMensor' %}</li>
                    {% else %}
                    <li class="list-group-item"><span class="fa fa-map-marker locnotcertinnotes"></span>{% trans ' means that the capture location was not certified by MyMensor' %}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="card card-outline-primary m-2" style="width: 50rem;">
                <div class="card-block">
                    <p class="card-text font-weight-bold">Location details</p>
                </div>
                <div id="landingmapid"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% trans ' Latitude: ' %}{{ loclatitude|floatformat:2 }}{% trans ' degrees' %}</li>
                    <li class="list-group-item">{% trans ' Longitude: ' %}{{ loclongitude|floatformat:2 }}{% trans ' degrees' %}</li>
                    <li class="list-group-item">{% trans ' Precision: ' %}{{ locprecisioninm|floatformat:2 }}{% trans ' meters' %}</li>
                </ul>
            </div>
        {% endif %}
        {% if mediaContentType == "video/mp4" %}
            <div class="card card-outline-primary m-2" style="width: 50rem;">
                <div class="card-block">
                    <p class="card-text">
                        <span class="fa fa-video-camera" data-toggle="tooltip" data-placement="top" title="{% trans 'Captured on' %}"></span> {{ mediaTimeStamp }}
                     {% if mediaArIsOn == "1" %}
                        <span class="arused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality used to capture' %}">AR ON</span>
                     {% else %}
                        <span class="arnotused" data-toggle="tooltip" data-placement="top" title="{% trans 'Augmented reality not used to capture' %}">AR OFF</span>
                     {% endif %}
                     {% if mediaTimeIsCertified == "1" %}
                        <span class="fa fa-clock-o timecert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time certified' %}"></span>
                     {% else %}
                        <span class="fa fa-clock-o timenotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture time not certified' %}"></span>
                     {% endif %}
                     {% if mediaLocIsCertified == "1" %}
                        <span class="fa fa-map-marker loccert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location certified' %}"></span>
                     {% else %}
                        <span class="fa fa-map-marker locnotcert" data-toggle="tooltip" data-placement="top" title="{% trans 'Capture location not certified' %}"></span>
                     {% endif %}
                    </p>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls>
                        <source src="{{ mediaStorageURL }}" type="video/mp4">
                    </video>
                </div>
                <ul class="list-group list-group-flush">
                    {% if mediaArIsOn == "1" %}
                    <li class="list-group-item"><span class="arusedinnotes" >AR ON</span>{% trans ' means that augmented reality was used to capture this media' %}</li>
                    {% else %}
                    <li class="list-group-item"><span class="arnotusedinnotes" >AR OFF</span> {% trans ' means that augmented reality was not used to capture this media' %}</li>
                    {% endif %}
                    {% if mediaTimeIsCertified == "1" %}
                    <li class="list-group-item"><span class="fa fa-clock-o timecertinnotes"></span>{% trans ' means that the capture time was certified by MyMensor' %}</li>
                    {% else %}
                    <li class="list-group-item"><span class="fa fa-clock-o timenotcertinnotes"></span>{% trans ' means that the capture time was not certified by MyMensor' %}</li>
                    {% endif %}
                    {% if mediaLocIsCertified == "1" %}
                    <li class="list-group-item"><span class="fa fa-map-marker loccertinnotes"></span>{% trans ' means that the capture location was certified by MyMensor' %}</li>
                    {% else %}
                    <li class="list-group-item"><span class="fa fa-map-marker locnotcertinnotes"></span>{% trans ' means that the capture location was not certified by MyMensor' %}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="card card-outline-primary m-2" style="width: 50rem;">
                <div class="card-block">
                    <p class="card-text font-weight-bold">Location details</p>
                </div>
                <div id="landingmapid"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% trans ' Latitude: ' %}{{ loclatitude|floatformat:2 }}{% trans ' degrees' %}</li>
                    <li class="list-group-item">{% trans ' Longitude: ' %}{{ loclongitude|floatformat:2 }}{% trans ' degrees' %}</li>
                    <li class="list-group-item">{% trans ' Precision: ' %}{{ locprecisioninm|floatformat:2 }}{% trans ' meters' %}</li>
                </ul>
            </div>
        {% endif %}

            </div>
            <!-- Modal -->
            <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-body">
                      <img id="mediaContent" class="img-fluid" src="{{ mediaStorageURL }}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <hr>


{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script src="{% static "js/leaflet.js" %}"></script>
    <script type="text/javascript">

        {{ vps }}
        {% for vp in vps %}
        console.log("vp:"+{{ vp }});
        {%  endfor %}


        $('#vpselected').chosen();

        $('#mediaselected').chosen();

        $(function() {

            var start = moment("{{ start }}");
            var end = moment("{{ end }}");

            console.log("{{ start }}");
            console.log("{{ end }}");
            console.log("{{ tagsselected }}")

            function cb(start, end) {
                $('#reportrange span').html(start.format('YYYY-MMM-DD') + ' - ' + end.format('YYYY-MMM-DD'));
            }

            $('#reportrange').daterangepicker({
                startDate: {{ start }},
                endDate: {{ end }},
                "alwaysShowCalendars": true,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var startdate = picker.startDate.format('YYYY-MM-DD');
                var enddate = picker.endDate.format('YYYY-MM-DD');
                console.log(startdate);
                console.log(enddate);
                var tagssel = $('#tagsselected').serialize();
                console.log('Chosen:'+tagssel);
                window.location={% url 'vpdetail' %}+'?startdate='+startdate+'&enddate='+enddate+'&vpselected='+'{{vpselected}}'+'&mediaselected='+'{{mediaselected}}';
            });

            $('#vpselected').change(function(){
                var vpselected = $(this).find(":selected").val();
                console.log("vpselected:"+vpselected);
                window.location={% url 'vpdetail' %}+'?startdate='+'{{ start }}'+'&enddate='+'{{ end }}'+'&vpselected='+vpselected+'&mediaselected='+'{{mediaselected}}';
            });

            $('#mediaselected').change(function(){
                var mediaselected = $(this).find(":selected").val();
                console.log("mediaselected:"+mediaselected);
                window.location={% url 'vpdetail' %}+'?startdate='+'{{ start }}'+'&enddate='+'{{ end }}'+'&vpselected='+'{{vpselected}}'+'&mediaselected='+mediaselected;
            });

        });

    </script>
    <script>
            var mymap = L.map('landingmapid').setView([{{ loclatitude }}, {{ loclongitude }}], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);

            var marker = L.marker([{{ loclatitude }}, {{ loclongitude }}]).addTo(mymap);

            var circle = L.circle([{{ loclatitude }}, {{ loclongitude }}], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: {{ locprecisioninm }}
            }).addTo(mymap);


        </script>
{% endblock %}

{% endlocaltime %}
