{% extends 'base.html' %}
{% load i18n%}
{% if user.is_authenticated %}
    {% block title %}VPs Setup - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="mym-dash">
            <div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
                <div id="qtyselector" class="mym-dash-item">
                    <select id="currentvp">
                        {% for vp in vps %}
                            <option value="{{ vp.vpNumber }}" {% if vp.vpNumber == currentvp %}selected{% endif %}>VP#{{ vp.vpNumber }} - {{ vp.vpDescription }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div id="vpedition">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="currentvp" value="{{ currentvp }}">
                <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript">
        $(function(){
            $('#currentvp').change(function(){
                var vpselected = $(this).find(":selected").val();
                console.log(vpselected);
                window.location={% url 'vpsetup' %}+'&currentvp='+vpselected;
            });
        });
        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
