{% extends 'base.html' %}
{% load i18n mymfilters%}
{% if user.is_authenticated %}
    {% block title %}VPs Setup - {{ block.super }}{% endblock %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="mym-dash">
            <div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
                <div id="qtyselector" class="mym-dash-item">
                    <select id="currentvp">
                        {% for vp in vps %}
                            <option value="{{ vp.vpNumber }}" {% if vp.vpNumber == currentvp %}selected{% endif %}>VP#{{ vp.vpNumber }} - {{ vp.vpDescription }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div id="vpedition">
            <form role="form" action="." method="post"> {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger">{{ form.non_field_errors|join:"<br \>" }}</div>
                {% endif %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag|add_class:"control-label" }}
                    {% if field.help_text %}
                    <span class="help-block">{{ field.help_text }}</span>
                    {% endif %}
                    {% if field.errors %}
                    <span class="help-block">{{ field.errors|join:"<br \>" }}</span>
                    {% endif %}
                    {{ field|add_class:"form-control" }}
                </div>
                {% endfor %}
                <input type="hidden" name="currentvp" value="{{ currentvp }}">
                <input class="btn btn-success" type="submit" value="{% trans 'Submit' %}">
            </form>
        </div>
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript">
        $(function(){
            $('#currentvp').change(function(){
                var vpselected = $(this).find(":selected").val();
                console.log(vpselected);
                window.location={% url 'vpsetup' %}+'?currentvp='+vpselected;
            });
        });
        </script>
    {% endblock %}
{% else %}
    <h1>Not Logged In....</h1>
{% endif %}
